
<!-- start /components/map/-->
<!-- Если в настройках Bitrix клиент отключает использование карты, то компонент не подключаем.-->
<link rel="stylesheet" href="/components/map/style.css"/>
<script src="/components/map/script.js"></script>
<div class="container-fluid">
  <div class="b-map">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;amp;apikey=3da27ed2-82cd-4c8f-8a07-8b32774f2abc" type="text/javascript"></script>
    <div class="bj-sorting">
      <div class="text-muted">Список магазинов:</div>
      <div class="dropdown"><a id="dLabel" href="#" role="button" data-toggle="dropdown" data-target="#" aria-expanded="false">Все<span class="caret"></span></a>
        <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
          <li><a href="" data-tab="all">Все</a></li>
          <li><a href="" data-tab="moscow">Москва</a></li>
          <li><a href="" data-tab="spb">Санкт-Петербург</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <script>
       
      //cluster icons are black by default
      window.yMapPlacemarksIcons = 'invertedDarkblueClusterIcons';//take a look here for different icons https://tech.yandex.ru/maps/archive/doc/jsapi/2.0/ref/reference/option.presetStorage-docpage/
    </script>
    <div id="yMapShops" data-ajax-url="/components/map/placemarks.json" data-ajax-method="GET"></div>
  </div>
</div>
<!-- end /components/map/-->