extends ../../layouts/main.jade

block title
  title Catalogue-tabs component | Seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
        
    include ../../modules/gallery/fotorama
    include ../../components/catalogue-tabs-v15/template
    
    hr
    
    include ../../components/catalogue-tabs/template
          