
<!-- start /components/search.title/-->
<link rel="stylesheet" href="/components/search.title/style.css"/>
<script src="/components/search.title/script.js"></script>
<div style="display: block; position: absolute; top: 52px; left: 153px; width: 307px;" class="title-search-result">
  <div class="bx_searche"><a href="/catalog/zhenskaya_obuv/miu_miu_sandalii/" class="bx_item_block">
      <div class="bx_img_element">
        <div style="background-image: url('http://seller-assembly.2px.ru/upload/resize_cache/iblock/1d4/75_75_1/1d40f182a219c4e0decaaf46888dc2c9.jpg')" class="bx_image"></div>
      </div>
      <div class="bx_item_element">
        <div>Miu Miu <b>&Scy;&acy;&ncy;&dcy;&acy;&lcy;&icy;&icy;</b></div>
        <div class="bx_price">6&nbsp;600&nbsp;руб.</div>
      </div></a><a href="/catalog/zhenskaya_obuv/sandalii_dolce_gabbana/" class="bx_item_block">
      <div class="bx_img_element">
        <div style="background-image: url('http://seller-assembly.2px.ru/upload/resize_cache/iblock/0c9/75_75_1/0c92198c8d02dd0ae73d369e13c73c99.jpg')" class="bx_image"></div>
      </div>
      <div class="bx_item_element">
        <div><b>&Scy;&acy;&ncy;&dcy;&acy;&lcy;&icy;&icy;</b> Dolce &amp; Gabbana and more words for two lines</div>
        <div class="bx_price">6&nbsp;600&nbsp;руб.</div>
      </div></a><a href="/catalog/sandali/fendi_sandalii/" class="bx_item_block">
      <div class="bx_img_element">
        <div class="bx_image i-empty"></div>
      </div>
      <div class="bx_item_element">
        <div>FENDI <b>&Scy;&acy;&ncy;&dcy;&acy;&lcy;&icy;&icy;</b></div>
        <div class="bx_price">6&nbsp;600&nbsp;руб.</div>
      </div></a><a href="/catalog/sandali/dolce_gabbana_sandalii/" class="bx_item_block">
      <div class="bx_img_element">
        <div class="bx_image i-empty"></div>
      </div>
      <div class="bx_item_element">
        <div>Dolce &amp; Gabbana <b>&scy;&acy;&ncy;&dcy;&acy;&lcy;&icy;&icy;</b></div>
        <div class="bx_price">6&nbsp;600&nbsp;руб.</div>
      </div></a>
    <div class="bx_item_block all_result"><a href="/catalog/?q=%F1%E0%ED%E4%E0%EB%E8%E8">&Vcy;&scy;&iecy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy;</a></div>
  </div>
</div>
<!-- end /components/search.title/-->