.b-inform-blocks

  .b-inform-blocks__item.i-size-6( href="" style="background-image: url( '/upload/inform-blocks/banner-1_2-1.jpg' );" )
  hr
  a.b-inform-blocks__item.i-size-6( href="" style="background-image: url( '/upload/inform-blocks/banner-1_2-2.jpg' );" )

hr.i-size-M.hidden-xs
hr.visible-xs-block

.b-inform-blocks

  a.b-inform-blocks__item.i-size-4( href="" style="background-image: url( '/upload/inform-blocks/banner-1_3-1.jpg' );" )
  hr
  .b-inform-blocks__item.i-size-8( href="" style="background-image: url( '/upload/inform-blocks/banner-2_3-1.jpg' );" )

hr.i-size-M.hidden-xs
hr.visible-xs-block

.b-inform-blocks

  .b-inform-blocks__item.i-size-8( href="" style="background-image: url( '/upload/inform-blocks/banner-2_3-2.png' );" )
  hr
  a.b-inform-blocks__item.i-size-4( href="" style="background-image: url( '/upload/inform-blocks/banner-1_3-2.jpg' );" )
