@import '../../styl/component-include.styl'

.b-brands
  position relative
  padding 10px 0 30px
  
  .container-fluid
    position relative
    z-index 2
  
  .bj-hr-heading,
  .b-hr-heading
    margin-right 70px
    margin-left 70px
    z-index 5
  
  .swiper-container
    padding-top 47px
    margin-top -47px
    overflow hidden
  
  .swiper-wrapper
    align-items stretch
  
  .swiper-slide
    height auto
    
  .swiper-button-next,
  .swiper-button-prev
    top 0
    left auto
    margin-top 0
    width 25px
    height 25px
    background-repeat no-repeat
    background-position center
    background-size contain
    
    &:after
      display none
      
    &:focus
      outline none
    
  .swiper-button-next
    right 10px
    
  .swiper-button-prev
    right 45px
    
  .swiper-lazy-preloader
    border-color transparent
    border-radius 0
    background-repeat no-repeat
    background-position center
    background-size cover
    width 60px
    height 60px
    margin-top -30px
    margin-left -30px
    
  &-card
    padding-top 100%
    background-repeat no-repeat
    background-position center
    background-size contain
      
  /*anti placeholder*/
  &.i-swiper-init
    height auto !important
  
    .b-brands__placeholder
      display none !important
  
    .swiper-wrapper
      position relative !important
      top auto !important
      left auto !important
      opacity 1 !important
    
    .swiper-button-next,
    .swiper-button-prev
      display block !important