// start /components/brands/

link( rel="stylesheet", href="/template/swiper.min.css" )
script( src="/template/libs/swiper.min.js" )

link( rel="stylesheet", href="/components/brands/style.css" )
script( src="/components/brands/script.js" )

style
  | .b-brands { height: 400px; }
  | .b-brands__placeholder { display: flex; align-items: stretch; margin: 0 -15px; }
  | .b-brands__placeholder span { width: calc( 25% - 30px ); margin: 0 15px; background-color: #fff; height: 300px; }
  | .swiper-wrapper { position: absolute; top: 0; left: 0; opacity: 0; transform: opacity 0.5s ease; -webkit-transform: opacity 0.5s ease; }
  | .swiper-button-next, .swiper-button-prev { display: none; }

.b-brands( data-slidesperview="6" data-spacebetween="30" )
  
  .container-fluid
  
    .b-hr-heading.i-no-line
      .b-hr-heading__content
        a( href="" ) Бренды
        
    .b-brands__placeholder
      span
      span
      span
      span
        
    .swiper-container
      .swiper-wrapper
      
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
      
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
      
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
            
        .swiper-slide
          .b-brands-card( style="background-image: url(/upload/catalog.detail/14.jpg);" )
                        
      .swiper-button-next( style="background-image: url( '/components/brands/images/right-arrow.svg' );" )
      .swiper-button-prev( style="background-image: url( '/components/brands/images/left-arrow.svg' );" )

// end /components/brands/