extends ../../layouts/main.jade

block title
  title Контакты | Seller

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
  
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Контакты
        
    hr.i-size-L
    
    a( href="http://seller-assembly.2px.ru/about/contacts/") http://seller-assembly.2px.ru/about/contacts/
        
    p Стили элементов формы и блока div.bx-auth подгружаются из template_styles.css