
<section class="b-seller-tuner__colors">Цветовая схема
  <hr class="i-line i-size-L"/>
  <div class="b-seller-tuner__block">
    <div style="background-color: blue;"></div>
    <div style="background-color: lightblue;"></div>
    <div style="background-color: yellow;"></div>
    <div style="background-color: orange;"></div>
  </div>
</section>
<hr class="i-size-L"/>
<section class="b-seller-tuner__fonts">Шрифт
  <hr class="i-line i-size-L"/>
  <div class="b-seller-tuner__block">
    <div>Open Sans</div>
    <div>Montserrat</div>
    <div>Roboto</div>
    <div>PT Sans</div>
    <div>Lora</div>
  </div>
</section>
<hr class="i-size-L"/>
<section class="b-seller-tuner__tags">Цвета ярлыков
  <hr class="i-line i-size-L"/>
  <div class="b-seller-tuner__block">
    <div><span style="background-color: #ea4b4b;"></span><em>Скидка</em></div>
    <div><span style="background-color: #86ad34;"></span><em>Хит</em></div>
    <div><span style="background-color: #ea4b4b;"></span><em>Новинка</em></div>
    <div><span style="background-color: #2f7cdb;"></span><em>Рекомендуем</em></div>
    <div><span style="background-color: #4be1ea;"></span><em>Акция</em></div>
  </div>
</section>