
<section data-ajax-url="/components/tuner/color.json" data-ajax-method="GET" class="b-seller-tuner__headers">
  <input id="headers" type="hidden" name="headers" value="1"/>Шапка сайта
  <hr class="i-line i-size-L"/>
  <div class="b-seller-tuner__block">Вариант 1
    <div data-value="1" class="b-seller-tuner__img i-active"><img src="/components/tuner/img/header1.jpg" alt=""/></div>
  </div>
  <hr class="i-size-L"/>
  <div class="b-seller-tuner__block">Вариант 2
    <div data-value="2" class="b-seller-tuner__img"><img src="/components/tuner/img/header1.jpg" alt=""/></div>
  </div>
  <hr class="i-size-L"/>
  <div class="b-seller-tuner__block">Вариант 3
    <div data-value="3" class="b-seller-tuner__img"><img src="/components/tuner/img/header1.jpg" alt=""/></div>
  </div>
</section>