label.main-profile-form-label {
	margin-bottom: 2px;
	color: #333;
	line-height: normal;
	vertical-align: top;
	font-size: 8pt;
}

@media (min-width: 992px) {
	.main-profile-form-label.text-md-right, input[class*="col-"] {
		float: none !important;
		display: table-cell;
		vertical-align: middle;
	}
}

.bx_profile .form-group .form-control{
	height: 38px;
	border-color: #c1c5c8;
}

.bx_profile .form-group .form-control:focus {
    border-color: #c1c5c8;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-profile-form-buttons-block .btn {
	min-width: 142px;
}
.main-profile-form-buttons-block .btn:not(.main-profile-submit) {
	background-color: #ececec;
	border-color: #ececec;
	color: #333;
}
.main-profile-form-buttons-block .btn:not(.main-profile-submit):focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bx_profile .form-group {
	border-bottom: 1px solid #f2f2f2;
	padding: 0 63px 20px;
	margin-bottom: 15px;
}
p font.errortext {
	display: block;
	background-color: #d65561;
	color: #fff !important;
	text-align: center;
	padding: 6px;
	font-size: 8pt;
	margin-bottom: 14px;
}
p font.notetext {
	display: block;
	background-color: #52ab52;
	color: #fff !important;
	text-align: center;
	padding: 6px;
	font-size: 8pt;
	margin-bottom: 14px;
}
.bx_profile form {
	border: 1px solid #f2f2f2;
	padding: 16px 30px;
}

.bx_profile .main-profile-social-block form {
	border: none;
	padding: 0;
}

.file-field {
    position: relative
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px
}

.file-field input.file-path {
    width: 100%
}

.file-field .btn,.file-field .btn-large {
    float: left;
}

.file-field span {
    cursor: pointer
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.file-field input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    padding: 0 0 0 15px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s
}

.file-field input[type=text]:disabled,
.file-field input[type=text][readonly="readonly"] {
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26)
}

.file-field input[type=text]:disabled+label,
.file-field input[type=text][readonly="readonly"]+label {
    color: rgba(0,0,0,0.26)
}

.file-field input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a
}

.file-field input[type=text]:focus:not([readonly])+label {
    color: #26a69a
}

.file-field input[type=text].valid,
.file-field input[type=text]:focus.valid {
    border-bottom: 1px solid #339900;
    box-shadow: 0 1px 0 0 #339900
}

.file-field input[type=text].valid+label:after,
.file-field input[type=text]:focus.valid+label:after {
    content: attr(data-success);
    color: #4CAF50;
    opacity: 1
}

.file-field input[type=text].invalid,
.file-field input[type=text]:focus.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336
}

.file-field input[type=text].invalid+label:after,
.file-field input[type=text]:focus.invalid+label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1
}

.file-field input[type=text].validate+label {
    width: 100%;
    pointer-events: none
}

.file-field input[type=text]+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out
}
@media (max-width: 767px) {
	.main-profile-form-buttons-block .btn {
		width: 100%;
	}
}