extends ../../layouts/main.jade

block title
  title Top-banner | Seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
        
    include ../../components/top-banner/template
          