/*bootstrap*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6
  font-family inherit
  font-weight 500
  line-height 1.1
  color inherit


.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small
  font-weight 400
  line-height 1
  color #777


.h1,
.h2,
.h3,
h1,
h2,
h3
  margin-top 20px
  margin-bottom 10px


.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small
  font-size 65%


.h4,
.h5,
.h6,
h4,
h5,
h6
  margin-top 10px
  margin-bottom 10px


.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small
  font-size 75%


.h1,
h1
  font-size 36px


.h2,
h2
  font-size 30px


.h3,
h3
  font-size 24px


.h4,
h4
  font-size 18px


.h5,
h5
  font-size 14px


.h6,
h6
  font-size 12px


/*_bootstrap_*/

/*materialize*/

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 400
  line-height 1.1


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
  font-weight inherit


h1
  font-size 4.2rem
  line-height 110%
  margin 2.1rem 0 1.68rem 0


h2
  font-size 3.56rem
  line-height 110%
  margin 1.78rem 0 1.424rem 0


h3
  font-size 2.92rem
  line-height 110%
  margin 1.46rem 0 1.168rem 0


h4
  font-size 2.28rem
  line-height 110%
  margin 1.14rem 0 0.912rem 0


h5
  font-size 1.64rem
  line-height 110%
  margin 0.82rem 0 0.656rem 0


h6
  font-size 1rem
  line-height 110%
  margin 0.5rem 0 0.4rem 0


/*_materialize_*/

h1
  @media( max-width 767px )
    text-align center
    
h2,
.b-h2
  font-size 1.65rem
  
  @media( max-width 767px )
    font-size 1.2rem
    
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5
  display block
  word-wrap break-word

h1:first-child,.h1:first-child,h2:first-child,.h2:first-child,h3:first-child,.h3:first-child,h4:first-child,.h4:first-child,h5:first-child,.h5:first-child
  margin-top 0

h1,.h1
  font-weight 400
  font-size 1.9rem
  margin-top 0

h1.i-small,.h1.i-small
  font-size 1.9rem

@media (max-width:767px)
  h1,.h1
    font-size 1.35rem

h1,.h1,h2,.h2,h3,.h3
  color #333

h3,.h3
  font-size 1.25rem
  font-weight 400
  
h4,.h4,h5,.h5
  color #999
  font-weight 700

h5,.h5
  font-size 9pt

h1,.h1,h2,.h2,h3,.h3
  margin-bottom 1.2rem

h4,.h4,h5,.h5
  margin-bottom 10px
