.b-container {
    padding-right: $grid-gap;
    padding-left: $grid-gap;
    margin-right: auto;
    margin-left: auto
    box-sizing( border-box )
}

@media (min-width: 768px) {
    .b-container {
        width:770px
    }
}

@media (min-width: 992px) {
    .b-container {
        width:990px
    }
}

@media (min-width: 1200px) {
    .b-container {
        width:1190px
    }
}

.b-row {
    margin-right: -1 * $grid-gap
    margin-left: -1 * $grid-gap
    clearfix()
}

.b-col-xs-1,.b-col-sm-1,.b-col-md-1,.b-col-lg-1,.b-col-xs-2,.b-col-sm-2,.b-col-md-2,.b-col-lg-2,.b-col-xs-3,.b-col-sm-3,.b-col-md-3,.b-col-lg-3,.b-col-xs-4,.b-col-sm-4,.b-col-md-4,.b-col-lg-4,.b-col-xs-5,.b-col-sm-5,.b-col-md-5,.b-col-lg-5,.b-col-xs-6,.b-col-sm-6,.b-col-md-6,.b-col-lg-6,.b-col-xs-7,.b-col-sm-7,.b-col-md-7,.b-col-lg-7,.b-col-xs-8,.b-col-sm-8,.b-col-md-8,.b-col-lg-8,.b-col-xs-9,.b-col-sm-9,.b-col-md-9,.b-col-lg-9,.b-col-xs-10,.b-col-sm-10,.b-col-md-10,.b-col-lg-10,.b-col-xs-11,.b-col-sm-11,.b-col-md-11,.b-col-lg-11,.b-col-xs-12,.b-col-sm-12,.b-col-md-12,.b-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: $grid-gap;
    padding-left: $grid-gap
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.b-col-xs-1,.b-col-xs-2,.b-col-xs-3,.b-col-xs-4,.b-col-xs-5,.b-col-xs-6,.b-col-xs-7,.b-col-xs-8,.b-col-xs-9,.b-col-xs-10,.b-col-xs-11,.b-col-xs-12 {
    float: left
}

.b-col-xs-12 {
    width: 100%
}

.b-col-xs-11 {
    width: 91.66666667%
}

.b-col-xs-10 {
    width: 83.33333333%
}

.b-col-xs-9 {
    width: 75%
}

.b-col-xs-8 {
    width: 66.66666667%
}

.b-col-xs-7 {
    width: 58.33333333%
}

.b-col-xs-6 {
    width: 50%
}

.b-col-xs-5 {
    width: 41.66666667%
}

.b-col-xs-4 {
    width: 33.33333333%
}

.b-col-xs-3 {
    width: 25%
}

.b-col-xs-2 {
    width: 16.66666667%
}

.b-col-xs-1 {
    width: 8.33333333%
}

@media (min-width: 768px) {
    .b-col-sm-1,.b-col-sm-2,.b-col-sm-3,.b-col-sm-4,.b-col-sm-5,.b-col-sm-6,.b-col-sm-7,.b-col-sm-8,.b-col-sm-9,.b-col-sm-10,.b-col-sm-11,.b-col-sm-12 {
        float:left
    }

    .b-col-sm-12 {
        width: 100%
    }

    .b-col-sm-11 {
        width: 91.66666667%
    }

    .b-col-sm-10 {
        width: 83.33333333%
    }

    .b-col-sm-9 {
        width: 75%
    }

    .b-col-sm-8 {
        width: 66.66666667%
    }

    .b-col-sm-7 {
        width: 58.33333333%
    }

    .b-col-sm-6 {
        width: 50%
    }

    .b-col-sm-5 {
        width: 41.66666667%
    }

    .b-col-sm-4 {
        width: 33.33333333%
    }

    .b-col-sm-3 {
        width: 25%
    }

    .b-col-sm-2 {
        width: 16.66666667%
    }

    .b-col-sm-1 {
        width: 8.33333333%
    }
}

@media (min-width: 992px) {
    .b-col-md-1,.b-col-md-2,.b-col-md-3,.b-col-md-4,.b-col-md-5,.b-col-md-6,.b-col-md-7,.b-col-md-8,.b-col-md-9,.b-col-md-10,.b-col-md-11,.b-col-md-12 {
        float:left
    }

    .b-col-md-12 {
        width: 100%
    }

    .b-col-md-11 {
        width: 91.66666667%
    }

    .b-col-md-10 {
        width: 83.33333333%
    }

    .b-col-md-9 {
        width: 75%
    }

    .b-col-md-8 {
        width: 66.66666667%
    }

    .b-col-md-7 {
        width: 58.33333333%
    }

    .b-col-md-6 {
        width: 50%
    }

    .b-col-md-5 {
        width: 41.66666667%
    }

    .b-col-md-4 {
        width: 33.33333333%
    }

    .b-col-md-3 {
        width: 25%
    }

    .b-col-md-2 {
        width: 16.66666667%
    }

    .b-col-md-1 {
        width: 8.33333333%
    }
}

@media (min-width: 1200px) {
    .b-col-lg-1,.b-col-lg-2,.b-col-lg-3,.b-col-lg-4,.b-col-lg-5,.b-col-lg-6,.b-col-lg-7,.b-col-lg-8,.b-col-lg-9,.b-col-lg-10,.b-col-lg-11,.b-col-lg-12 {
        float:left
    }

    .b-col-lg-12 {
        width: 100%
    }

    .b-col-lg-11 {
        width: 91.66666667%
    }

    .b-col-lg-10 {
        width: 83.33333333%
    }

    .b-col-lg-9 {
        width: 75%
    }

    .b-col-lg-8 {
        width: 66.66666667%
    }

    .b-col-lg-7 {
        width: 58.33333333%
    }

    .b-col-lg-6 {
        width: 50%
    }

    .b-col-lg-5 {
        width: 41.66666667%
    }

    .b-col-lg-4 {
        width: 33.33333333%
    }

    .b-col-lg-3 {
        width: 25%
    }

    .b-col-lg-2 {
        width: 16.66666667%
    }

    .b-col-lg-1 {
        width: 8.33333333%
    }
}