html
  font-size 11pt

body
  background #fff
  font-family "Open Sans", Arial
  font-weight 400
  font-size 1rem
  color #666666
  line-height 1.7
  
  @media( max-width 767px )
    font-weight 400
    
a:hover,
a:focus
  text-decoration none
  opacity .7
  
hr
    
  &.i-size-S
    margin-bottom 6px
    margin-top 6px
    
  &.i-line
    border-top 1px solid #f2f2f2
    
ul:not([class])
  padding-left 40px !important
  
  li
    list-style-type disc !important
    padding-top 2px
    padding-bottom 2px
    
ol

  li
    padding-top 2px
    padding-bottom 2px
    
.btn
  height auto
  text-transform none
  padding-top 0
  padding-bottom 0
  font-size .9rem
  
  &:hover
    box-shadow none
    
  &-size-S
    font-size 9.5pt
    line-height 28px
    padding-right 12px
    padding-left 12px
    
  &-lg,
  &-group-lg > &
    font-size: 1.2rem
   
  //gray button
  &.i-gray
  
    &,
    &:hover,
    &:focus,
    &:active
      border-color #f2f2f2
      background-color #f2f2f2
      color #000
    
  &-link
    /*anti materialize*/
    background-color transparent
    letter-spacing normal
    box-shadow none
    padding 0 12px
    
    &:hover
      background-color transparent
  
.b-section
  padding 50px 0
  
  &.i-grey
    background-color #f9f9f9
    
.table>thead>tr>th,
.table>tbody>tr>td
  border-bottom 1px solid #f2f2f2
  padding 20px 8px
  
.side-nav
  transition( all 0.3s linear )
  box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 20px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
  height 100%
  
  &.i-no-transition
    transition( none !important )
    transform( translateX(0) !important)
    
  ul
    padding-left 0 !important
    
  li
    list-style-type none !important
  
.text-info {
    color: #f33;
}

.b-preloader
  display: flex;
  align-items: center;
  justify-content: center;
  
.b-preloader img {
    /*opacity: 0;*/
    -webkit-animation: animationBorderStepOpacity linear 1s;
    -moz-animation: animationBorderStepOpacity linear 1s;
    -o-animation: animationBorderStepOpacity linear 1s;
    animation: animationBorderStepOpacity linear 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*-webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;*/
}

@keyframes animationBorderStepOpacity
  0%
    transform:rotate(0)
  100%
    transform:rotate(360deg)

.container-fluid
  padding-right 15px
  padding-left 15px
  transition( width .2s ease )
  
  .i-blur &
    filter blur( $blur )

.bj-hr-heading,
.b-hr-heading
  border-top 1px solid #f2f2f2
  font-size 1rem
  font-weight normal
  position relative
  margin 40px 0
  
  &.i-no-line
    border-top-color transparent
    
    span,
    a
      background-color transparent
  
  @media( max-width 767px )
    font-size .9rem

  &__content
    position absolute
    width 100%
    text-align center
    top -1rem
    left 0
    display block
    
    @media( max-width 767px )
      top -.8rem
    
    span,
    a
      display inline-block
      background #fff
      padding 0 8px
  
      .i-grey &
        background transparent
        
.row
  margin-right -15px
  margin-left -15px