rel()
  position relative

abs( $top=0, $left=0 )
  position absolute
  top $top
  left $left

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both

ib()
  display inline-block
  vertical-align top

after()
  &:after
    clear both
    content "."
    display block
    height 0
    visibility hidden

box-sizing( box )
  box-sizing box

box-shadow( val )
  box-shadow val

border-radius(n)
  border-radius n

transition( val )
  transition val
  -webkit-transition val

transform( val )
  transform val
  -webkit-transform val
  
opacity( val )
  opacity val