ul.side-nav,
.side-nav ul
ul.dropdown,
ul.nav-tabs,
.bj-text-block ul,
ul.ya-share2__list,
ul.basket-item-scu-list,
.bx-authform-social ul,
ul.bx-soa-pp-list
  padding-left 0 !important
  
  li
    list-style-type none !important
    padding-top 0
    padding-bottom 0
