$darker-grey = #1e1e1e
$dark-grey = #262626
$middle-grey = #333
$grey = #666
$light-grey = #999
$lightest-grey = #ccc

$bg-color = $middle-grey
$text-color = $lightest-grey
$brand-color = #a6d713

$grid-gap = 25px