extends ../layouts/main.jade

block title
  title GUI | Seller

block content

  .container-fluid
  
    hr.i-size-L
    
    h1 Несколько слов вначале…
    
    p «Фродо жив!» - объявили всему миру надписи на стенах нью-йоркской «подземки», и миллионы почитателей творчества Дж. Р. Р. Толкиена восторженно подхватили призыв. Так в середине 60-х годов вспыхнул «культ Толкиена». <a href="">Начало его можно установить довольно точно - лето 1965 года, когда американской аудитории (в основном, студенческой)</a> не хватило и миллионного тиража «Властелина Колец» - несомненно, самой популярной из толкиеновских книг. Для тысяч молодых американцев история хоббита Фродо и Кольца Всевластья стала лучшей книгой на свете. В конце 1966-го одна из газет сообщала: «В Йеле трилогия раскупается быстрее, чем некогда „Повелитель мух" Голдинга. В Гарварде она опережает „Над пропастью во ржи" Сэлинджера».
    
    p На самодельных значках запестрели надписи:
    ul
      li «Да здравствует Фродо!»
      li «Гэндальфа - в президенты!»
      li «Идем в Среднеземье!»
      
    p На западном побережье и в штате Нью-Йорк как грибы множились толкиеновские общества. Фэн-клубы устраивали вечеринки, на которых одевались по хоббитской моде, а угощались
    ol
      li грибами
      li и сидром.
      
    hr.i-size-L
    
    h2 Человек, понимающий хоббитов
    
    p К 1968 году только в Америке разошлось более трех миллионов экземпляров трилогии. Тогда же «Дэйли телеграф мэгэзин» опубликовал статью «Человек, понимающий хоббитов». В ней говорилось: «Большинство поклонников Толкиена - из породы высоколобых, но не только они любят его. Ему пишут и домохозяйки из Виннипега, и ракетчики из Вумера, и звезды эстрады из Лас-Вегаса. Отцы семейств обсуждают трилогию в лондонских пивных. Германия, Испания, Португалия, Польша, Япония, Израиль, Швеция, Голландия, Дания читают его на родных языках».
    
    h3 Тайна
    
    p Говорить о Толкиене легко, - особенно с теми, кто уже читал его книги и, значит, причастен этой радостной тайне…
    
    h3 Добрый сказочник
    
    p Рассказать о Джоне Рональде Руэле Толкиене, всемирно известном английском писателе, профессоре Оксфордского университета, добром сказочнике, мудром философе, христианине, - трудно. Недаром сам он был убежден, что подлинная история писателя содержится в его книгах, а не в фактах биографии.
    
    hr.i-size-L
    
    h2 Биография
    
    p Дж. Р. Р. Толкиен родился 3 января 1892 года в Блумфонтейне (Оранжевая Республика, Южная Африка). Там работал в то время его отец, Артур Руэл Толкиен. Весной 1895 года мать увезла Рональда и его младшего брата в Англию, а в феврале 1896 пришла телеграмма, сообщающая о смерти Артура Руэла.
        
    h3 Начало жизни
    
    p Осиротевшая семья с весьма скромными средствами поселилась в пригороде Бирмингема. В начале века местечко это было тихой зеленой английской глубинкой; дом Толкиенов стоял последним, а сразу за ним начинались поля, холмы, перелески - словом, мальчишечий рай. Дж. Р. Р. (так звали писателя его друзья) начал читать в четыре года, а чуть позже - писать. Первые уроки латыни пробудили любовь к языкам, определившую много лет спустя выбор жизненного пути. В звучании латинского языка мальчику чудилась музыка, гармония, ждущая разгадки тайна… Пожалуй, что-то похожее он испытывал, когда читал волшебные сказки или героические легенды, действие которых происходило на узкой границе между мифом и реальной историей. «Только, - писал он уже взрослым одному из своих корреспондентов, - в этом мире их было, на мой взгляд, слишком мало, чтобы насытить мой голод».
    
    h3 Школьные годы
    
    p В школе к знакомым с детства латыни и французскому прибавились греческий и немецкий, но теперь Рональда все сильнее привлекали история языков и сравнительная филология. Он начал изучать древний английский, чуть позже - древнегерманский и древнефинский, исландский и готский. Он занимался в школьном литературном кружке, придумывал новые языки, собирал вокруг себя «компании» и «сообщества», играл в регби.
    
    hr
    
    h3 Университет
    
    p В ноябре 1904 года умерла мать. Рональд и его младший брат Хилари остались на попечении духовного отца, Фрэнсиса Моргана. Его заботами мальчики получили возможность закончить школу, а Рональд - даже продолжить образование в Оксфордском университете, на факультете английского языка и литературы. Он специализировался по истории языка, по древнему и средневековому английскому.
    
    h3 Первая мировая война
    
    p Первая мировая война застала его студентом последнего курса. Летом 1915 года он блестяще сдал выпускные экзамены и ушел добровольцем в действующую армию. На долю младшего лейтенанта связи одиннадцатого батальона Ланкаширских стрелков выпало четыре месяца кровавой бойни при Сомме, а потом - два года скитаний по госпиталям с жестоким окопным тифом.
    
    h3 Демобилизация
    
    p После демобилизации он успел поработать и в Оксфорде над составлением Большого Словаря английского языка, и в Лидском университете - сначала преподавателем, потом профессором английского языка. В 1925 году опубликовал собственное переложение одной из легенд «артуровского цикла» - «Сэр Гавэйн и Зеленый Рыцарь». Летом того же года Толкиена приглашают в Оксфорд профессором англосаксонского языка. Непривычно молодой по оксфордским меркам профессор - ему всего тридцать четыре года - имеет за плечами немалый жизненный опыт, блестящие работы по филологии, семью, состоящую из жены Эдит Брэгг («Она была моей Лучиэнь и знала это», - говорил Толкиен) и троих сыновей - Джона, Майкла и Кристофера. Несколько лет спустя родилась дочь Присцилла. Средств не хватало, зато забот было с избытком.