extends ../../../layouts/main.jade

block title
  title Галерея с fade эффектом | Видео-баннер | Seller

block content

  .container-fluid
  
    hr.visible-xs-block.i-size-L
  
    ol.breadcrumb.hidden-xs
      li
        a( href='/' ) Главная страница
      li
        a( href='/blocks/video/' ) Видео-баннер
      li
        span Галерея с fade эффектом       
        
  .container-fluid
  
    h1 Галерея с fade эффектом
    p Пример галереи, в один из слайдов которой встроено видео. Видео запускается в момент перелистывания слайда и останавливается когда слайд неактивен. Класс i-fade-loop, отсутствие атрибутов loop, autoplay.
    
    hr.i-size-L
        
    include ../../../components/video/gallery-fade-loop
    
