.bj-block-group
  .row
    .col-sm-4
      .bj-block
        a(href='/catalog/kurtki/')
          img.img-responsive.bj-block__img(src='/upload/catalog.collection/section1.jpg', title='Куртки на Seller — готовый магазин одежды')
        .bj-block__title.bj-table
          .bj-table-row
            .bj-table-cell(href='')
              h2.bj-block__title__wrapper
                a(href='/catalog/kurtki/') Куртки
        div
          p
            | Мужские куртки разных стилей и фасонов, для осени и зимы. Актуальные модели нового 
            nobr осенне-зимнего
            |  сезона.
    hr.clearfix.visible-xs-block
    .col-sm-4
      .bj-block
        a(href='/catalog/shoes/')
          img.img-responsive.bj-block__img(src='/upload/catalog.collection/section1.jpg', title='Обувь на Seller — готовый магазин одежды')
        .bj-block__title.bj-table
          .bj-table-row
            .bj-table-cell(href='')
              h2.bj-block__title__wrapper
                a(href='/catalog/shoes/') Обувь
        div
          p
            | Сложно представить себе элементы гардероба современного человека, которые выбирались бы более тщательно и основательно, чем обувь. Это больше, чем просто стильный аксессуар: ботинки, сапоги, туфли и другие модели выполняют очень важную функцию — они отвечают за комфорт, а иногда и за здоровье ног.
    hr.clearfix.visible-xs-block
    .col-sm-4
      .bj-block
        a(href='/catalog/bryuki/')
          img.img-responsive.bj-block__img(src='/upload/catalog.collection/section1.jpg', title='Брюки на Seller — готовый магазин одежды')
        .bj-block__title.bj-table
          .bj-table-row
            .bj-table-cell(href='')
              h2.bj-block__title__wrapper
                a(href='/catalog/bryuki/') Брюки
        div
          p
            | Прекрасный выбор качественных мужских брюк на все случаи жизни. Брюки для офиса, повседневные брюки и брюки для особых случаев.
  hr
