// start /components/header_old/

link( rel="stylesheet", href="/components/header_old/style.css" )
script( src="/components/header_old/script.js" )

.b-header_old
  h3 header_old

// end /components/header_old/