extends ../layouts/main.jade

block title
  title Catalog props page | Seller

block content

  .container-fluid
  
    .b-catalog-section
        
      include ../components/catalog.collection-props/meta
      include ../modules/gallery/fotorama
        
      include ../components/catalog.collection-props/template-4
                        
      hr