
<!-- start /components/catalog.filter/-->
<link rel="stylesheet" href="/components/catalog.filter/style.css"/>
<script src="/components/catalog.filter/script.js"></script>
<div class="b-catalog-filter-switch"><span>Использовать фильтр</span><span>Свернуть фильтр</span>
  <div style="background-image: url(/template/images/filter.svg);" class="b-catalog-filter-switch__icon"></div>
</div>
<div class="b-catalog-filter">
  <div class="bx-filter bx-site">
    <div class="bx-filter-section">
      <div class="bx-filter-title">Подбор параметров</div>
      <form name="_form" action="/catalog/muzhskie_botinki/" method="get" class="smartfilter">
        <div class="row">
          <div class="col-lg-12 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span>Розничная цена <i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
            <div data-role="bx_filter_block" style="display: block;" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
                <div class="price-slider-range-text"><span id="priceSliderRangeText">От 5000 - до 24000</span> Р .</div>
                <div id="priceSliderRange" data-fact-min-value="500" data-fact-max-value="30500" data-min-value="500" data-max-value="30500" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                  <div style="left: 0%; width: 100%;" class="ui-slider-range ui-corner-all ui-widget-header"></div><span tabindex="0" style="left: 0%;" class="ui-slider-handle ui-corner-all ui-state-default"></span><span tabindex="0" style="left: 100%;" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
                <input id="arrFILTER_P1_MIN" type="hidden" name="arrFILTER_P1_MIN" value="5000" size="5" onchange="smartFilter.keyup(this)" class="min-price"/>
                <input id="arrFILTER_P1_MAX" type="hidden" name="arrFILTER_P1_MAX" value="24000" size="5" onchange="smartFilter.keyup(this)" class="max-price"/>
              </div>
            </div>
          </div>
          <div class="col-lg-12 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Производитель																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" style="display: block;" class="bx-filter-block">
              <div class="row bx-filter-parameters-box-container">
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_10_3068188247" for="arrFILTER_10_3068188247" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_10_3068188247" type="checkbox" value="Y" name="arrFILTER_10_3068188247" onclick="smartFilter.click(this)"/><span title="Италия" class="bx-filter-param-text">Италия<sup>(<span data-role="count_arrFILTER_10_3068188247">3</span>)</sup></span></span></label>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-lg-12 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Материал																<i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
            <div data-role="bx_filter_block" style="display: block;" class="bx-filter-block">
              <div class="row bx-filter-parameters-box-container">
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_11_870750918" for="arrFILTER_11_870750918" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_11_870750918" type="checkbox" value="Y" name="arrFILTER_11_870750918" onclick="smartFilter.click(this)"/><span title="Кожа" class="bx-filter-param-text">Кожа<sup>(<span data-role="count_arrFILTER_11_870750918">3</span>)</sup></span></span></label>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-lg-12 bx-filter-parameters-box"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Бренд																<i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="row bx-filter-parameters-box-container">
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_13_945058907" for="arrFILTER_13_945058907" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_13_945058907" type="checkbox" value="Y" name="arrFILTER_13_945058907" onclick="smartFilter.click(this)"/><span title="Benetton" class="bx-filter-param-text">Benetton<sup>(<span data-role="count_arrFILTER_13_945058907">1</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_13_2707236321" for="arrFILTER_13_2707236321" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_13_2707236321" type="checkbox" value="Y" name="arrFILTER_13_2707236321" onclick="smartFilter.click(this)"/><span title="Chanel" class="bx-filter-param-text">Chanel<sup>(<span data-role="count_arrFILTER_13_2707236321">1</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_13_2366072709" for="arrFILTER_13_2366072709" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_13_2366072709" type="checkbox" value="Y" name="arrFILTER_13_2366072709" onclick="smartFilter.click(this)"/><span title="Christian Louboutin" class="bx-filter-param-text">Christian Louboutin<sup>(<span data-role="count_arrFILTER_13_2366072709">1</span>)</sup></span></span></label>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-lg-12 bx-filter-parameters-box"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Цвет																<i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="row bx-filter-parameters-box-container">
                <div class="col-xs-12">
                  <div class="bx-filter-param-btn-block">
                    <input id="arrFILTER_28_1830392916" style="display: block" type="checkbox" name="arrFILTER_28_1830392916" value="Y"/>
                    <label for="arrFILTER_28_1830392916" data-role="label_arrFILTER_28_1830392916" onclick="smartFilter.keyup(BX('arrFILTER_28_1830392916')); BX.toggleClass(this, 'bx-active');" class="bx-filter-param-label"><span class="bx-filter-param-btn bx-color-sl"><span style="background-image:url('/upload/uf/916/91699ed33351a69af6380d76ee525ead.jpg');" class="bx-filter-btn-color-icon"></span></span><span title="Коричневый" class="bx-filter-param-text">Коричневый<sup>(<span data-role="count_arrFILTER_28_1830392916">2</span>)</sup></span></label>
                    <input id="arrFILTER_28_2307242536" style="display: block" type="checkbox" name="arrFILTER_28_2307242536" value="Y"/>
                    <label for="arrFILTER_28_2307242536" data-role="label_arrFILTER_28_2307242536" onclick="smartFilter.keyup(BX('arrFILTER_28_2307242536')); BX.toggleClass(this, 'bx-active');" class="bx-filter-param-label"><span class="bx-filter-param-btn bx-color-sl"><span style="background-image:url('/upload/uf/120/120478350cf77f3d8b90981067cc687a.jpg');" class="bx-filter-btn-color-icon"></span></span><span title="Черный" class="bx-filter-param-text">Черный<sup>(<span data-role="count_arrFILTER_28_2307242536">1</span>)</sup></span></label>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-lg-12 bx-filter-parameters-box"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Размеры обуви																<i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block bx-filter-block-size">
              <div class="row bx-filter-parameters-box-container">
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_4088798008" for="arrFILTER_29_4088798008" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_4088798008" type="checkbox" value="Y" name="arrFILTER_29_4088798008" onclick="smartFilter.click(this)"/><span title="35" class="bx-filter-param-text">35<sup>(<span data-role="count_arrFILTER_29_4088798008">3</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_2226203566" for="arrFILTER_29_2226203566" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_2226203566" type="checkbox" value="Y" name="arrFILTER_29_2226203566" onclick="smartFilter.click(this)"/><span title="36" class="bx-filter-param-text">36<sup>(<span data-role="count_arrFILTER_29_2226203566">3</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_498629140" for="arrFILTER_29_498629140" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_498629140" type="checkbox" value="Y" name="arrFILTER_29_498629140" onclick="smartFilter.click(this)"/><span title="37" class="bx-filter-param-text">37<sup>(<span data-role="count_arrFILTER_29_498629140">3</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_1790921346" for="arrFILTER_29_1790921346" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_1790921346" type="checkbox" value="Y" name="arrFILTER_29_1790921346" onclick="smartFilter.click(this)"/><span title="38" class="bx-filter-param-text">38<sup>(<span data-role="count_arrFILTER_29_1790921346">3</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_4194326291" for="arrFILTER_29_4194326291" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_4194326291" type="checkbox" value="Y" name="arrFILTER_29_4194326291" onclick="smartFilter.click(this)"/><span title="39" class="bx-filter-param-text">39<sup>(<span data-role="count_arrFILTER_29_4194326291">3</span>)</sup></span></span></label>
                  </div>
                  <div class="checkbox">
                    <label data-role="label_arrFILTER_29_2366072709" for="arrFILTER_29_2366072709" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                        <input id="arrFILTER_29_2366072709" type="checkbox" value="Y" name="arrFILTER_29_2366072709" onclick="smartFilter.click(this)"/><span title="40" class="bx-filter-param-text">40<sup>(<span data-role="count_arrFILTER_29_2366072709">3</span>)</sup></span></span></label>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        </div>
        <!-- //row-->
        <div class="row">
          <div class="col-xs-12 bx-filter-button-box">
            <div class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <input id="set_filter" type="submit" name="set_filter" value="Показать" class="btn btn-default btn-size-S"/>
                <input id="del_filter" type="submit" name="del_filter" value="Сбросить" class="btn btn-link"/>
                <div id="modef" style="display:block" class="bx-filter-popup-result right">Выбрано: <span id="modef_num">0</span><span class="arrow"></span><br/><a href="/catalog/muzhskie_botinki/?set_filter=y" target="">Показать</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clb"></div>
      </form>
    </div>
  </div>
</div>
<!-- end /components/catalog.filter/-->