// start /components/stories/

link( rel="stylesheet", href="/components/stories/style.css" )
script( src="/components/stories/script.js" )

link( rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 

link( rel="stylesheet" href="/template/libs/stories-slider.min.css" )
script( src="/template/libs/stories-slider.min.js" )

#app
  // Demo app
  .demo-app
    // Demo content
    .demo-title
      img(src="images/logo.png" width="156")
    .demo-stories
      a(href="#")
        span.demo-stories-avatar
          img(src="avatars/mark.jpg" alt=)
        span.demo-stories-name mark_johnson
      a(href="#")
        span.demo-stories-avatar
          img(src="avatars/malenia.jpg" alt=)
        span.demo-stories-name malenia
      a(href="#")
        span.demo-stories-avatar
          img(src="avatars/john.jpg" alt=)
        span.demo-stories-name john1986
  // Stories Slider
  .stories-slider
    .swiper
      .swiper-wrapper
        // specific user stories
        .swiper-slide
          .swiper
            .swiper-wrapper
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/mark.jpg")
                  .stories-slider-user-name mark_johnson
                  .stories-slider-user-date 21h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/food-1.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/mark.jpg")
                  .stories-slider-user-name mark_johnson
                  .stories-slider-user-date 12h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/food-2.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/mark.jpg")
                  .stories-slider-user-name mark_johnson
                  .stories-slider-user-date 30m
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/food-3.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/mark.jpg")
                  .stories-slider-user-name mark_johnson
                  .stories-slider-user-date 15m
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/food-4.jpg")
        // specific user stories
        .swiper-slide
          .swiper
            .swiper-wrapper
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/malenia.jpg")
                  .stories-slider-user-name malenia
                  .stories-slider-user-date 5h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/elden-1.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/malenia.jpg")
                  .stories-slider-user-name malenia
                  .stories-slider-user-date 45m
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/elden-2.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/malenia.jpg")
                  .stories-slider-user-name malenia
                  .stories-slider-user-date 5m
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/elden-3.jpg")
        // specific user stories
        .swiper-slide
          .swiper
            .swiper-wrapper
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/john.jpg")
                  .stories-slider-user-name john1986
                  .stories-slider-user-date 15h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/vacation-1.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/john.jpg")
                  .stories-slider-user-name john1986
                  .stories-slider-user-date 10h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/vacation-2.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/john.jpg")
                  .stories-slider-user-name john1986
                  .stories-slider-user-date 10h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/vacation-3.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/john.jpg")
                  .stories-slider-user-name john1986
                  .stories-slider-user-date 8h
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/vacation-4.jpg")
              // user's single story
              .swiper-slide
                a.stories-slider-user(href="#")
                  .stories-slider-user-avatar
                    img(src="avatars/john.jpg")
                  .stories-slider-user-name john1986
                  .stories-slider-user-date 47m
                .stories-slider-actions
                  button.stories-slider-close-button
                .stories-slider-content
                  img(src="images/vacation-5.jpg")

// end /components/stories/