doctype html
html
  head
    block title
      title seller
      
    include includes/meta.jade
    include includes/styles.jade
    include includes/scripts.jade
    
  body
    include includes/header.jade
    
    section.b-container
      block content
        h1 seller
    
    include includes/footer.jade
