doctype html
html( lang="ru" class="bx-no-touch" )
  head
    block title
      title seller
      
    include includes/meta.jade
    include includes/styles.jade
    include includes/fonts.jade
    include includes/scripts.jade
    
  body
  
    block header
      include ../components/header_1_6_0_1/template
    
    include ../components/tuner/template
    
    
    block content
      h1 seller
    
    include ../modules/float-phone/include
    include includes/footer.jade
