// start /components/map-list-switch/

link( rel="stylesheet", href="/components/map-list-switch/style.css" )
script( src="/components/map-list-switch/script.js" )

.b-map-list-switch
  h3 map-list-switch

// end /components/map-list-switch/