.b-catalog-element__gallery

  .fotorama( data-width="100%" data-ratio="4/3" data-loop="true" )
    div
      .b-catalog-element__fotorama-img( data-original="/upload/catalog.collection/1.jpg" )
    div
      .b-catalog-element__fotorama-img( data-original="/upload/catalog.collection/2.jpg" )
    div
      .b-catalog-element__fotorama-img( data-original="/upload/catalog.collection/1.jpg" )
    div
      .b-catalog-element__fotorama-img( data-original="/upload/catalog.collection/2.jpg" )