.b-catalog-detail__gallery

  .fotorama( data-width="100%" data-ratio="1/1" data-nav="thumbs" data-thumbwidth="65" data-thumbheight="65" data-allowfullscreen="true" )
    img( src="/upload/catalog.detail/1.jpg" alt="" )
    img( src="/upload/catalog.detail/2.jpg" alt="" )
    img( src="/upload/catalog.detail/3.jpg" alt="" )