.fotorama.hidden-xs( data-width="100%" data-ratio="1300/669" data-arrows="false" )
  div
    .row
      .col-sm-7
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/1.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong Dazzle
      .col-sm-5
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/2.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong UfeelGood
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/3.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong CHEF
  div
    .row
      .col-sm-7
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/1.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong Dazzle
      .col-sm-5
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/2.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong UfeelGood
        a.b-gallery-picture( href="" style="background-image: url(/upload/gallery/3.jpg);" data-big-image="/upload/gallery/2.jpg" )
          strong CHEF