@import '../../styl/component-include.styl'

.fotorama

  .fotorama__arr
    width 53px
    height 53px
    background-size cover
    
    @media (max-width: 767px)
      width 30px
      height 30px
    
  .fotorama__arr--next
    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAzCAYAAAA6oTAqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWFJREFUeNrcmTsOhCAURRlC43q0dW2Oa7N1PVoyWJjgRGYCct+Hl1BYSHLyuAdB4703OaPvex/GtG2byX0XPazJr/cxxnGchmEwkiobZlmW+QQKQxSQLXxPJFA2TNd1YoGKOrOu6y3Qvu+sMK/DAqUVdWOKoOYIVkVmLh2SIgX7dILUkuMAcjUm+ZLCuRfFzzo686tDoTukUngkgD9yIJeCRU3MIQULnp8UyKEm5pACtDPUUoAJgEMK1hAWWgqkMGgpOEoKtBTIO4OUAqkA0FKwhrlqSoEdpqYUHDdFTSmI6EzigKdzmSXuEvTBREq+WE2zAKroual9xknJyLHfRGbTAXMHErqh79usZtilCAB2QGvqpOm0hp0cBhl20sygw84hANIr2qbump3WsENhqMMOywxH2CEwkn7SNvW32WkNe7VlluoIJ0gRTCrsXEurhgDEgRQJgGNnRwpARNjv6iPAAHlbk7V21ZlYAAAAAElFTkSuQmCC") no-repeat center center
    background-size cover
    
  .fotorama__arr--prev
    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAzCAYAAAA6oTAqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWlJREFUeNrcmsEKgzAQRK148Xv06rfZfJtXv0ePaVJSEFGKcXdmYyCIB5XH7IxrTOW9ryzNZVmqruvGMP3Va5vK0Oj7Ph7GMN9pXhq1VZBpmlyRMAeKuJz71FZB2rYtC2Zd10OQeZ6z7tdYUyQXhKbMmdnvgFBgNBRhKiNidipMNHtQRUURaADsSysAOI3n1CyzFwcj9Wa3ooya2WEwCLNDAgBldnVlkGZXhUGbXVsZqNlVYFhmFw8AptlFlWGbXQzGgtkllaGbXRKGbnYNmHFTdvSRm2ZuA/U9jxHNLrUsZVJZub1C7PGKC85Pec/cgvl1AMMwmOgAbsNsVKIDSX7P0ENBrGu2EApiZWYhFMRhmKGgAsMKBe0VTWgoqK6boUNBtczQoQCBQYUCDAYRCox/mmqhAP9zdhYKEh948DL7tyhyp+RoMBqhQN3UkHwiVnL07SZnHkq7N8qCkewUqJ4R7xSetBPwI8AAaqA5gj7kt+AAAAAASUVORK5CYII=") no-repeat center center
    background-size cover
    
  &--fullscreen .fotorama__fullscreen-icon
    width 32px
    height 32px
    background embedurl( 'img/close.svg' ) no-repeat center !important
    background-size cover
    top 20px
    right 20px
    
    @media (max-width: 767px)
      width 20px
      height 20px
    
  .fotorama__thumb-border
    border-color #2f3154
    border-style none none solid
    top 74px
    background none
    height 0 !important
    width 65px !important
    
  .fotorama__nav--thumbs
    padding-bottom 9px
    
  .fotorama__nav__frame--thumb
    opacity .5
    transition( opacity 0.3s linear )
    
    &.fotorama__active
      opacity 1
    
  &__nav__frame.fotorama__active .fotorama__dot
    background-color #ffce00 !important
    
  &__nav-wrap
    position relative
    
  &.i-mob
    .b-gallery-picture
      padding-top 90%
    
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows
  .fotorama__fullscreen-icon:not(:focus),
  .fotorama__arr--prev:not(:focus),
  .fotorama__arr--next:not(:focus)
    transform( none !important )

.fotorama__wrap--css3.fotorama__wrap--video
  .fotorama__fullscreen-icon,
  .fotorama__arr--prev,
  .fotorama__arr--next
    transform( none !important )
    
.fotorama__nav:before,
.fotorama__stage:before
  display none !important
  
.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage
  background-color #fff !important
  
.fotorama--fullscreen .fotorama__nav-wrap,
.fotorama__fullscreen-icon
  display none
  
.fotorama--fullscreen .fotorama__fullscreen-icon
  display block
  
.fotorama--fullscreen .fotorama__arr--prev
  left 20px
    
  @media (max-width: 767px)
    left 13px
  
.fotorama--fullscreen .fotorama__arr--next
  right 20px
    
  @media (max-width: 767px)
    right 13px
    
.fotorama--fullscreen .fotorama__html
  display flex
  align-items center
  justify-content center
  
  img
    max-height 100vh
    max-width 100vw
    
.magnify-lens

  @media (max-width: 767px)
    display none !important