
<!-- start /components/inform-blocks/-->
<link rel="stylesheet" href="/components/inform-blocks/style.css"/>
<script src="/components/inform-blocks/script.js"></script>
<div class="b-inform-blocks">
  <div class="b-inform-blocks__item i-size-6">
    <div style="background-image: url( '/upload/inform-blocks/banner-1_2-1.jpg' );"></div>
  </div>
  <hr/>
  <div class="b-inform-blocks__item i-size-6"><a href="" style="background-image: url( '/upload/inform-blocks/banner-1_2-2.jpg' );"></a></div>
</div>
<hr class="i-size-M hidden-xs"/>
<hr class="visible-xs-block"/>
<div class="b-inform-blocks">
  <div class="b-inform-blocks__item i-size-4"><a href="" style="background-image: url( '/upload/inform-blocks/banner-1_3-1.jpg' );"></a></div>
  <hr/>
  <div class="b-inform-blocks__bx-wrapper b-inform-blocks__item i-size-8">
    <div style="background-image: url( '/upload/inform-blocks/banner-2_3-1.jpg' );"></div>
  </div>
</div>
<hr class="i-size-M hidden-xs"/>
<hr class="visible-xs-block"/>
<div class="b-inform-blocks">
  <div class="b-inform-blocks__item i-size-8">
    <div style="background-image: url( '/upload/inform-blocks/banner-2_3-2.png' );"></div>
  </div>
  <hr/>
  <div class="b-inform-blocks__item i-size-4"><a href="" style="background-image: url( '/upload/inform-blocks/banner-1_3-2.jpg' );"></a></div>
</div>
<!-- end /components/inform-blocks/-->