extends ../../layouts/main.jade

block title
  title Catalog filter | Seller

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
    
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        a(href='/catalog/', title='Каталог') Каталог
      li
        a(href='/catalog/muzhchinam/', title='Мужчинам') Мужчинам
      li
        a(href='/catalog/shoes/', title='Обувь') Обувь
      li
        a(href='/catalog/muzhskie_botinki/', title='Мужские ботинки') Мужские ботинки
      li
        span Кожанные ботинки

       
    .row
      
      .col-md-3
       
        include ../../components/catalog.filter/template
    
    hr.i-size-L
    
