
<!-- start /components/header_1_6_0_0/-->
<link rel="stylesheet" href="/components/header_1_6_0_0/style.css"/>
<script src="/components/header_1_6_0_0/script.js"></script>
<div id="sellerHeader_0">
  <ul id="sideNavPanel" class="side-nav">
    <li class="logo"><span class="bj-logo"><img width="143" alt="" src="/template/images/logo.png" height="40" title=""/></span></li>
    <li class="no-padding">
      <div class="media">
        <div class="media-body">
          <ul>
            <li><a href="/auth/">Войти</a></li>
            <li><a href="/auth/?register=yes">Зарегистрироваться</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="no-padding">
      <ul>
        <li><a href="/search/">Поиск</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/campaign/">Акции</a></li>
        <li><a href="/journal/">Журнал</a></li>
        <li><a href="/lookbook/">LookBook</a></li>
        <li><a href="/about/">О магазине</a></li>
        <li><a href="/news/">Новости</a></li>
        <li><a href="/about/contacts/">Контакты</a></li>
        <li><a href="/about/vacancies/">Вакансии</a></li>
        <li><a href="/about/howto/">Как купить</a></li>
        <li><a href="/payment/">Оплата</a></li>
        <li><a href="/about/delivery/">Доставка</a></li>
        <li><a href="/about/guaranty/">Гарантии</a></li>
      </ul>
    </li>
  </ul>
  <header class="bj-page-header">
    <section class="bj-page-header__top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-sm-9 col-xs-12 bj-logo-space"><a href="/" class="bj-logo"><img width="143" alt="" src="/template/images/logo.png" height="40" title=""/></a>                    
            <div id="personal_menu" style="display:inline-block">
              <!-- 'start_frame_cache_personal_menu'-->
              <button href="#" data-content="&lt;a href=&quot;/auth/&quot;&gt;Войти&lt;/a&gt;&lt;a href=&quot;/auth/?register=yes&quot;&gt;Зарегистрироваться&lt;/a&gt;" data-original-title="" title="" class="bj-logo-space__icon bj-header-user-icon hidden-xs"></button>
              <!-- 'end_frame_cache_personal_menu'-->
            </div>                    
            <script>var obEshopBasket = new JSEshopBasket("/bitrix/templates/bejet_seller/components/bitrix/sale.basket.basket.line/top/ajax.php", "s1");</script>                    <span id="sale-basket-basket-line-container">
              <!-- 'start_frame_cache_sale-basket-basket-line-container'--><a id="bx_cart_block" href="/personal/cart/" class="bj-logo-space__icon bj-cart-icon"><span class="bj-header-shopping-cart-icon"></span>                    <span id="bx_cart_num" class="bj-cart-icon__num">3</span></a>                    
              <script>var catalogDetailStoredProducts = [];</script>
              <!-- 'end_frame_cache_sale-basket-basket-line-container'--></span>                    <span id="search" class="bj-page-header__search hidden-xs"><span href="" class="bj-header-search-icon hidden-xs"></span>                    
              <form action="/catalog/">
                <input id="title-search-input" type="search" name="q" value="" size="23" maxlength="50" autocomplete="off" class="bj-page-header__search__input form-control"/>                        
                <input name="s" type="hidden" value=""/>
              </form></span>                    
            <script>
              BX.ready(function() {
              new JCTitleSearch({
              'AJAX_PAGE': '/',
              'CONTAINER_ID': 'search',
              'INPUT_ID': 'title-search-input',
              'MIN_QUERY_LEN': 2
              });
              });
            </script>                    <a id="nav-button" href="#" data-activates="sideNavPanel" class="bj-nav-button"><span class="bj-header-align-justify-icon"></span></a>                    
            <div class="bj-top-nav hidden-sm hidden-xs"><a href="/payment/">&Ocy;&pcy;&lcy;&acy;&tcy;&acy;</a>                        <a href="/about/delivery/">&Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;</a></div>
          </div>                
          <div class="col-md-2 col-sm-3 bj-phone"><span class="bj-phone__num hidden-xs">8 (495) 212 85 06
              <!-- <span class="bj-phone__time">c 8:00 до 23:00</span>--></span>                    <a href="#" data-toggle="modal" data-target="#myModal" class="bj-header-earphone-icon hidden-xs"></a>                    <a href="tel:8 (495) 212 85 06" class="bj-header-earphone-icon visible-xs-block"></a>                    
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"></span></button>                                    
                    <h2 id="myModalLabel" class="modal-title text-center">&Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;</h2>
                  </div>                                
                  <div class="modal-body text-center">
                    <div class="bj-text-x-large">8 (495) 212 85 06</div>                                    
                    <div class="small">&Pcy;&ncy;-&Vcy;&scy; 10-19</div>
                  </div>                                
                  <div style="display:none" class="modal-footer text-center">
                    <button type="button" class="btn btn-default">&Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bj-page-header__dropdown">
      <div class="i-relative container-fluid">
        <article>
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <h3><a href="/catalog/muzhchinam/">&Mcy;&ucy;&zhcy;&chcy;&icy;&ncy;&acy;&mcy;</a></h3>                        
              <menu>
                <li><a href="/catalog/kurtki/">&Kcy;&ucy;&rcy;&tcy;&kcy;&icy;</a></li>                            
                <li><a href="/catalog/shoes/">&Ocy;&bcy;&ucy;&vcy;&softcy;</a></li>                            
                <li><a href="/catalog/bryuki/">&Bcy;&rcy;&yucy;&kcy;&icy;</a></li>                            
                <li><a href="/catalog/rubashki-muzh/">&Rcy;&ucy;&bcy;&acy;&shcy;&kcy;&icy;</a></li>
              </menu>
            </div>                    
            <div class="col-md-3 col-sm-6">
              <h3><a href="/catalog/zhenshchinam/">&ZHcy;&iecy;&ncy;&shchcy;&icy;&ncy;&acy;&mcy;</a></h3>                        
              <menu>
                <li><a href="/catalog/zhenskoe_belje/">&Bcy;&iecy;&lcy;&softcy;&iecy;</a></li>                            
                <li><a href="/catalog/w-bryuki/">&Bcy;&rcy;&yucy;&kcy;&icy;</a></li>                            
                <li><a href="/catalog/dzhinsy/">&Dcy;&iecy;&ncy;&icy;&mcy;</a></li>                            
                <li><a href="/catalog/zhenskaya_obuv/">&Ocy;&bcy;&ucy;&vcy;&softcy;</a></li>                            
                <li><a href="/catalog/palto/">&Pcy;&acy;&lcy;&softcy;&tcy;&ocy;</a></li>                            
                <li><a href="/catalog/platya_women/">&Pcy;&lcy;&acy;&tcy;&softcy;&yacy;</a></li>                            
                <li><a href="/catalog/accessories/">&Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;</a></li>
              </menu>
            </div>                    
            <div class="col-md-3 col-sm-6">
              <h3><a href="/catalog/devochkam/">&Dcy;&iecy;&vcy;&ocy;&chcy;&kcy;&acy;&mcy;</a></h3>                        
              <menu>
                <li><a href="/catalog/platya/">&Pcy;&lcy;&acy;&tcy;&softcy;&yacy;</a></li>                            
                <li><a href="/catalog/futbolki-devochkam/">&Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy;</a></li>                            
                <li><a href="/catalog/shorty/">&SHcy;&ocy;&rcy;&tcy;&ycy;</a></li>
              </menu>
            </div>                    
            <div class="col-md-3 col-sm-6">
              <h3><a href="/catalog/malchikam/">&Mcy;&acy;&lcy;&softcy;&chcy;&icy;&kcy;&acy;&mcy;</a></h3>                        
              <menu>
                <li><a href="/catalog/kurtki_malchikam/">&Kcy;&ucy;&rcy;&tcy;&kcy;&icy;</a></li>                            
                <li><a href="/catalog/svitery/">&Scy;&vcy;&icy;&tcy;&iecy;&rcy;&ycy;</a></li>                            
                <li><a href="/catalog/futbolki/">&Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy;</a></li>
              </menu>
            </div>
          </div>                
          <div><a href="/brand/"><strong>&Bcy;&rcy;&iecy;&ncy;&dcy;&ycy;</strong> (&Vcy;&scy;&iecy; 8)</a></div>                
          <hr/>                
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/alexander-mcqueen/"><img alt="" src="/upload/iblock/68e/68eb7a0fa3b2293e48b67da3dd52f26f.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/alexander-mcqueen/">Alexander McQueen</a></div>
              </div>
            </div>                    
            <hr class="visible-xs-block clearfix"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/benetton/"><img alt="" src="/upload/iblock/831/8318a742d75162215d7c64138ff5be87.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/benetton/">Benetton</a></div>
              </div>
            </div>                    
            <div class="visible-xs-block visible-sm-block clearfix"></div>                    
            <hr class="visible-xs-block visible-sm-block"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/adidas/"><img alt="" src="/upload/iblock/9d9/9d996da17ccef5771e10cddb6129e5cf.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/adidas/">Adidas</a></div>
              </div>
            </div>                    
            <hr class="visible-xs-block clearfix"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/burberry/"><img alt="" src="/upload/iblock/4d4/4d4302dafe2368942afd55b0f7e8dea7.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/burberry/">Burberry</a></div>
              </div>
            </div>
          </div>                
          <hr/>                
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/chanel/"><img alt="" src="/upload/iblock/2d8/2d8d75e5bec28defe323e807bf4fd5a0.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/chanel/">Chanel</a></div>
              </div>
            </div>                    
            <hr class="visible-xs-block clearfix"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/christian-louboutin/"><img alt="" src="/upload/iblock/8c5/8c5de7cb5f749991a4f809770642f9a3.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/christian-louboutin/">Christian Louboutin</a></div>
              </div>
            </div>                    
            <div class="visible-xs-block visible-sm-block clearfix"></div>                    
            <hr class="visible-xs-block visible-sm-block"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/diesel/"><img alt="" src="/upload/iblock/9ce/9ce6a7cf4c1e47807aa4949d794cb083.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/diesel/">Diesel</a></div>
              </div>
            </div>                    
            <hr class="visible-xs-block clearfix"/>                    
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/dior/"><img alt="" src="/upload/iblock/ab4/ab4c1db188703a2b0c6b95da359b4e7a.png" class="media-object"/></a></div>                            
                <div class="media-body media-middle"><a href="/brand/dior/">Dior</a></div>
              </div>
            </div>
          </div>                
          <hr/>                
          <hr class="i-size-L"/>                
          <button class="up"></button>
        </article>
      </div>
    </section>    
    <section class="bj-page-header__submenu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-xs-4"><a href="/catalog/" class="bj-page-header__menu-link bj-icon-link"><span class="bj-icon i-menu bj-icon-link__icon"></span><span class="bj-icon-link__link">Каталог</span></a></div>                
          <div class="col-md-2 col-xs-4"><a href="/lookbook/" class="bj-page-header__looks-link bj-icon-link"><span class="bj-icon i-looks bj-icon-link__icon"></span>                        <span class="bj-icon-link__link">Looks</span></a></div>                
          <div class="col-md-6 hidden-sm hidden-xs">
            <div class="bj-top-subnav"><a href="/catalog/?q=%C4%E5%F2%FF%EC">&Dcy;&iecy;&tcy;&yacy;&mcy;</a><a href="/catalog/?q=%C6%E5%ED%F9%E8%ED%E0%EC">&ZHcy;&iecy;&ncy;&shchcy;&icy;&ncy;&acy;&mcy;</a><a href="/catalog/?q=%CC%F3%E6%F7%E8%ED%E0%EC">&Mcy;&ucy;&zhcy;&chcy;&icy;&ncy;&acy;&mcy;</a><a href="/catalog/?q=%CE%E1%F3%E2%FC">&Ocy;&bcy;&ucy;&vcy;&softcy;</a><a href="/catalog/?q=%CE%F1%E5%ED%FC">&Ocy;&scy;&iecy;&ncy;&softcy;</a></div>
          </div>                
          <div class="col-md-2 col-xs-4"><a href="/campaign/" class="bj-page-header__sales-link bj-icon-link"><span class="bj-icon i-flash bj-icon-link__icon"></span>                        <span class="bj-icon-link__link">&Acy;&kcy;&tscy;&icy;&icy;</span></a></div>
        </div>
      </div>
    </section>
  </header>
</div>
<!-- end /components/header_1_6_0_0/-->