@import '../../styl/component-include.styl'

.b-catalog-detail

  h1
    @media( max-width 767px )
      margin-bottom 0
      
  .b-catalog-tags
    @media( max-width 767px )
      margin-top 5px

  .col-sm-7&__props
    display flex
    justify-content space-between
    font-size .85rem
    
    span
      display inline-block
      
  &__props-slide
    display none
    background-repeat no-repeat
    background-position center
    background-size cover
    height 10px
    width 20px
    margin 0 auto
    cursor pointer
    
    @media( max-width 767px )
      display block
      
  &__props-icons
    text-align right
    
    @media( max-width 767px )
      text-align center
      margin-top 10px

  &__rating
    display inline-block
    width 79px
    height 12px
    
  &__gallery
    position relative
    
    .fotorama__html a
      display block !important
      
      &:hover
        opacity 1
      
      img
        margin 0 auto
        max-width 100%
      
    .fotorama__wrap--css3 .fotorama__html,
    .fotorama__wrap--css3 .fotorama__stage .fotorama__img
      text-align center
      
    .fotorama__wrap--css3 .fotorama__html
      display flex
      justify-content center
      align-items center
      
      div[ data-thumb ]
        width 100%
      
    .magnify
      width 100%
      
      a
        pointer-events none
      
      img
        margin 0 auto
        max-width 100%
    
  &__gallery-icons
    position absolute
    top 20px
    left 20px
    z-index 10
    
  .col-sm-4 hr.i-line:first-child
    margin-top 0
    
  &__ill
    border 1px solid #f2f2f2
    
    & > .row
      margin-bottom 0
    
  &__price-block
    padding 0 0 2px
    
    .row
      margin-bottom 0
    
  &__price
    font-size 27pt
    margin-bottom 3px
    
    &.i-sale
      color #cc3333
      
  &__old-price,
  &__benefit
    font-size 10.5pt
    
    span
      display block
      font-size 7pt
      
  #propListBlock
  
    h6
      font-size 1em
      margin 0 0 1em
      line-height normal

    & > div
      text-align center
      
  &__colors-block
    text-align center
    padding 9px 0 0
    
  &__colors-item
    display inline-block
    vertical-align top
    width 24px
    height 24px
    border-radius 51%
    margin 0 9px 9px
    cursor pointer
    transition( transform 0.3s ease )
    text-align center
    background-repeat no-repeat
    background-position center
    background-size cover
    
    &.i-white
      border 1px solid #eee
    
    &:hover
      transform scale( 1.3 )
      
    span
      display none
      width 14px
      height 7px
      margin-top 6px
      border-left 1px solid #fff
      border-bottom 1px solid #fff
      transform( rotate(-45deg) )
      
    &.i-white
      
      span
        border-color #ddd
      
    &.i-active
      transform scale( 1.3 )
      cursor default
      
      span
        display inline-block
        vertical-align top
      
    &.i-disabled
      opacity 0.5
      
    .modal &
      cursor default
      
  &__sizes-block
    display flex
    justify-content center
    flex-wrap wrap
    
  &__sizes-item
    font-size .95rem
    min-width 50px
    display inline-block
    vertical-align top
    cursor pointer
    text-align center
    border-bottom 2px solid transparent
    padding-bottom 3px
    margin 0 5px 16px
    
    &.i-active
      color #2f3154
      border-bottom 2px solid #2f3154
      cursor default
      
    &.i-disabled,
    &.i-subscribe
      opacity 0.5
      
  &__size-table-link
    text-align center
    font-size .65rem
    font-weight 400
    
  &__button-block.row
    padding 9px 0
    margin-bottom 0
    display flex
    align-items center
    
    @media( max-width 767px )
      display block
    
    .text-center
      line-height 28px
    
  &__properties
    margin-top -10px
    
  &__prop-title
    display block
    position relative
    padding 10px 0
    
    &:after
      content ''
      display block
      width 20px
      height 14px
      position absolute
      top 15px
      right 10px
      //border 1px solid #333
      //border-right none
      //border-bottom none
      //transform( rotate( 36deg ) skewX(-20deg))
      transition( all 0.3s ease )
      background embedurl( './img/more-open-black.svg' ) no-repeat center
      background-size cover
    
    &:hover
      text-decoration none
      
    &[aria-expanded="true"]:after
      transform( rotate( 180deg ))
      
  &__prop-collapse
    margin-bottom 15px
    
  @media( max-width 767px )
  
    &__tags
      text-align left
      
      a
        margin 0 22px 0 0
  
    .col-sm-7&__props
      display none
      text-align center
      
      span
        display block
        margin-bottom 5px
        
        span
          display inline-block
          margin-bottom 0
        
        &.b-catalog-detail__rating
          margin 15px auto 20px
  
    .col-sm-1&__icons
      display flex
      justify-content space-between
      
  &__share
    text-align center
    
    h5
      font-size .65rem
      font-weight 400
      
  &__num
    font-size .65rem
    font-weight 400
    text-align center
    
  &__animation-left
    padding-left 30px
    margin-top 20px
    margin-bottom 20px
    border-right 1px solid #f2f2f2
    transform( translateX( -50px ))
    transition( all 0.5s ease )
    opacity 0
    
    .i-load &
      transform( translateX(0))
      opacity 1
      
    @media( max-width 991px )
      padding-left 25px !important
      padding-right 25px !important
      border none
      
  &__icons
    margin-top 38px
    margin-bottom 20px
    
  &__animation-right
    padding-right 60px !important
    margin-top 20px
    margin-bottom 20px
    transform( translateX( 50px ))
    transition( all 0.5s ease )
    opacity 0
    
    .i-load &
      transform( translateX(0))
      opacity 1 
      
    @media( max-width 991px )
      padding-right 25px !important
      padding-left 25px !important
      border none
      
.b-catalog-detail__subscribe-block
  padding 1px 15px 0

  .form-group
    float left
    width 55%
    
    .form-control
      width 100%
      
    input[type=email]
      background-image none
    
  .form-button
    float left
    width 45%
    padding-left 13px
    margin-top 23px

  .btn
    width 100%
    min-width auto
    line-height 35px
    
  .b-message
    background-color #f2f2f2
    display flex
    font-size 10.5pt
    justify-content center
    align-items center
    padding 10px
    min-height 77px
    
    &.i-warning
      background-color #d65561
      color #fff
    
.b-icon-zoom,
.b-icon-fav,
.b-icon-comments,
.b-icon-size
  width 16px
  height 16px
  margin 0 auto 30px
  cursor pointer
  background-size cover
  opacity 0
  
  &:hover
    opacity .5
    
  @media( max-width 767px )
    width 24px
    height 24px
    
  .i-load &
    opacity 1
  
.b-icon-zoom
  background url( '/images/zoom.svg' ) no-repeat center
  transition( opacity 0.5s ease 0.3s )
  
.b-icon-fav
  background url( '/images/fav.svg' ) no-repeat center
  transition( opacity 0.5s ease 0.5s )
  
.b-icon-fav.i-stored
  background url( '/images/fav-stored.svg' ) no-repeat center
  
.b-icon-comments
  background url( '/images/comments.svg' ) no-repeat center
  transition( opacity 0.5s ease 0.7s )
  
.b-icon-share
  background url( '/images/share.svg' ) no-repeat center
  transition( opacity 0.5s ease 0.9s )
  
  @media( max-width 767px )
    display none
  
.b-icon-size
  background url( '/images/sizes.svg' ) no-repeat center
  transition( opacity 0.5s ease 1.1s )
  
.b-prop
  border 1px solid transparent
  line-height 23px
  height 23px
  padding 0 9px
  font-size 7pt
  text-transform uppercase
  margin -7px 0 3px 8px
  display inline-block
  
  @media( max-width 767px )
    margin 0 4px 3px
  
.b-icon-discount
  width 32px
  height 32px
  border-radius 51%
  color #fff
  line-height 32px
  text-align center
  margin-top -7px
  background-color #ff3333
  background-size 50%
  background-repeat no-repeat
  background-position center
  font-size 9.5pt
  display inline-block
  vertical-align top
  
  @media( max-width 767px )
    margin-top 0
    
.b-icon-recommend,
.b-icon-hit,
.b-icon-action,
.b-icon-new
  width 32px
  height 32px
  background-size cover
  background-repeat no-repeat
  background-position center
  font-size 9.5pt
  display inline-block
  vertical-align top
  text-align center
  margin-top -7px
  
#slide-size-table.side-nav
  background-color #fff
  
  &__close
    position absolute
    top 65px
    right 65px
    width 32px
    height 32px
    background embedurl( 'img/close.svg' ) no-repeat center
    background-size cover
    cursor pointer
    transition( opacity 0.3s ease )
  
    @media( min-width 768px ) and ( max-width 991px )
      top 25px
      right 25px
    
    @media( max-width 767px )
      top 20px
      right 20px
    
    &:hover
      opacity 0.5
  
.b-sizes-menu
  padding 65px 65px 65px 120px
  
  @media( min-width 768px ) and ( max-width 991px )
    padding 30px
  
  @media( max-width 767px )
    padding 20px
  
  h2
    padding-bottom 30px
    border-bottom 1px solid #f7f7f7
    margin 0 0 18px
    
    @media( max-width 767px )
      font-size 12pt
      padding-bottom 20px
  
  p
    color #333
    font-size 9.5pt
    margin-bottom 8px
    line-height 1.5
    
  &__table-xs
    margin-left -15px
    
    table
      font-size 9.5pt
      color #333
        
    td
      padding 7px 5px 7px 14px
      white-space nowrap
      
      span
        display none
      
    th
      font-weight normal
      padding 7px 7px 7px 15px
      white-space nowrap
      
    .form-control
      font-size 9.5pt
      margin-left -14px
    
  &__table
    margin-left -15px
    
    table
      font-size 8pt
      color #333
      
    tr.i-hover
      
      td,
      th
        background-color #f7f7f7
      
      td.i-active
        background-color #f3f3f3
      
    &.i-clicked
      
      tr.i-hover
        
        td,
        th
          background-color transparent
        
        td.i-clicked
          background-color #f7f7f7
        
      td.i-hover
        background-color transparent
        
      td.i-clicked.i-hover
        background-color #f7f7f7
      
      tr
        
        &.i-clicked,
        &.i-clicked.i-hover
        
          td,
          th
            background-color #f7f7f7
      
          td
          
            &.i-clicked-active,
            &.i-clicked-active.i-hover
              background-color #f3f3f3
        
    td
      padding 7px 5px 7px 12px
      white-space nowrap
      transition( background-color 0.2s ease )
    
      &.i-hover,
      &.i-clicked
        background-color #f7f7f7
      
    th
      font-weight normal
      padding 7px 7px 7px 15px
      white-space nowrap
      transition( background-color 0.2s ease )
    
  &__th
    width 200px
    float left
    
  &__td
    margin-left 200px
    position relative
    
    /*.i-scrolled &
      border-right 1px solid #7d7d7d
      border-left 1px solid #7d7d7d

      &:before
        content ''
        position absolute
        top 0
        left 0
        height 100%
        width 35px
        background embedurl( 'img/sizes-bg-left.png' ) repeat-y left 0
        z-index 2
      
      &:after
        content ''
        position absolute
        top 0
        right 0
        height 100%
        width 35px
        background embedurl( 'img/sizes-bg-right.png' ) repeat-y left 0
        z-index 2*/
      
  &__scroll
    overflow auto
    
    tr td:first-child
      padding-left 35px
    
    tr td:last-child
      padding-right 35px
      
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon
  opaicty 1 !important

.bx_item_detail_rating
  margin-bottom 10px

.bx_item_detail_rating td
  text-align right
  vertical-align middle

.bx_item_detail_rating .bx_item_rating
  text-align right

.bx_item_detail_rating .bx_stars_container
  background #dadada
  height 30px
  position relative
  width 68px

.bx_item_detail_rating .bx_stars_bg 
  background url("/bitrix/components/bitrix/iblock.vote/templates/stars/images/stars.png") no-repeat scroll center center rgba(0,0,0,0)
  bottom 0
  left 0
  position absolute
  right 0
  top 0
  z-index: 101

.bx_item_detail_rating .bx_stars_progres
  background #e76110
  bottom 0
  left 0
  position absolute
  top 0

.bx_item_detail_rating .bx_stars_rating_votes
  color #8d8d8d
  font-size 11px
  line-height 11px
  vertical-align middle

@media (max-width: 530px)
  .bx-touch .bx_item_detail_rating .bx_stars_container
    height 15px
    margin 4px 0
    width 34px

  .bx_item_detail_rating .bx_stars_rating_votes
    font-size 7px
    line-height 7px

.bx_stars_rating_votes
  display none
  
.bx_item_detail_rating
  margin 0
  
.bx_item_detail_rating td:nth-child(2)
  display none

.bx_item_detail_rating .bx_stars_bg
  background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJsAAAAaCAYAAACgjS7xAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAk1JREFUeNrsmzFLw0AYhtPSWouLot0EEXWy7qXqIurm7ODYxdnJP+Dm4C6Ci4P/QAR1ESkiBXVTFIuLi1ZBpLWF+samUOESL5d89y3fwbMkuT7vwXeXXNom2miOfquCXZACm6Dfsdc43eKPI0dbv7XAslubHutte43TLf6YcoQptv0eSZcTS4PkdIs/phy6xVYDUwrRgoUBcrrFH2OOpObddgfcK46felA2Trf448yhUZB3YFBR0TZmGKdb/DHn0FnZtsB7wHm3qs+IZhOnW/xx5/ApwldwCQ5AJqCiu8x5D4pV8BlxFnG6xU+YIwEaqLkjUAG34Bk8gDeDGTAAhsEkGAMToABmfd7HfDO6xW87B4ptTaNqo7LiM3s43eK3nMNd2dKouibxPT8D6orjfYxu8VvO4W4QihYeMMd9jnO6xW87B1a2ChghXD7dzy77LN+cbvFbztHdjZaJZDqD5XSL32IOh1AWZrCcbvFbyuEQyXIGg+V0i99CDtVL3XOQjSBJg2PDgXK6xU+cQ/V11QzIRtx55Az7cbrFT5xDVWzXoBZB0jR888ztFj9xDlWxfblfmUYMe2PYj9MtfuIcqmK7iiHsh2E/Trf4iXOoiq2l8UGpf84/GQbkdIufOEcy5DK86HR+t3QBlgKueyS4BVC7xU+dQ7HtLSq2snmwp7jW3d4WFNfPG265Od3iJ86hKrZST4dRT1APCNbwrsn39CsZDpLTLX7iHInfivvb3D+hboMhsAqmNZfeF3DoLZ8bTueHc2Ebp1v8xDl+BBgAhNKm4u0IDvMAAAAASUVORK5CYII=")
  background-size cover

.bx_item_detail_rating .bx_stars_container
  width 79px
  height 12px
  margin-top 4px

@media ( max-width 530px )
  .bx-touch .bx_item_detail_rating .bx_stars_container
    width 79px
    height 12px
    margin 0
      
.fotorama--fullscreen

  .fotorama__html a
    display block !important
    pointer-events none

  .magnify
    width 100%
    
    a
      pointer-events none
    
    img
      margin 0 auto
      max-width 100%

  .magnify > .magnify-lens
    display none !important
    
.b-buy-modal-img
  
  img
    max-width 100%
    margin 0 auto
    
.b-buy-modal-text
  padding-top 50px
  
  h2
    font-size 21pt
    margin 0 0 45px
    
#consentModal .modal-body
  max-height 250px
  overflow auto
  padding-right 50px
  padding-left 50px
    
@keyframes form-opacity
  from
    opacity 0
  to
    opacity 1
    
textarea.form-control
  resize none !important
  
.b-catalog-detail__sizes-block .b-catalog-detail__sizes-item:not(.i-disabled):hover {
  opacity: 0.7;
}

#catalogDetailVideo
  display none
  
#catalogDetailFavLink,
  position relative
  
  .preloader-wrapper.x-small
    position absolute
    top 2px
    left 50%
    margin-left -10px
    
  &.i-preloader
    background none
    
    span
      visibility hidden
      
#catalogDetailFavIcon
  position relative
  
  .preloader-wrapper.x-small
    position absolute
    top -1px
    left 1px
    margin-left 0
    
  &.i-preloader
    background none
    
@import '../../forms/catalog-detail-buy/form-elements-style.styl'