
<section id="cartDropdown" data-url="/template/cart-droprown-ajax.html" data-method="GET" class="bj-page-header__cart-dropdown">
  <div class="i-relative">
    <article>
      <div class="container-fluid">
        <div class="bj-page-header__dropdown-hr"></div>
        <div class="row">
          <div class="col-sm-9">
            <p> Последние добавленные товары</p>
            <div class="row">
              <div class="col-sm-4">
                <div class="b-cart-dropdown__item"><img src="/upload/cart-dropdown.jpg" width="61" height="61" alt=""/>
                  <div>Caliban рубашка  в клетку с длинным названием<br/><b>165 000 рублей</b></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="b-cart-dropdown__item"><img src="/upload/cart-dropdown.jpg" width="61" height="61" alt=""/>
                  <div>Caliban рубашка  в клетку с длинным названием<br/><b>165 000 рублей</b></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="b-cart-dropdown__item"><img src="/upload/cart-dropdown.jpg" width="61" height="61" alt=""/>
                  <div>Caliban рубашка  в клетку с длинным названием<br/><b>165 000 рублей</b></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <p class="text-right">В корзине 7 вещей на сумму 700 000 рублей</p><a href="/personal/cart/" class="btn btn-default btn-size-L btn-100">В корзину</a>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>