extends ../../layouts/main.jade

block title
  title Header 1_6_0_2 | seller
  
block header
  include ../../components/header_1_6_0_2/template

block content

  .container-fluid
  
    include ../../components/tuner/button2
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Seller
    ul
      li
        a( href="/catalog/" ) Catalog
      li
        a( href="/catalog/detail/" ) Catalog detail
      li
        a( href="/lookbook/" ) Lookbook
      li
        a( href="/cart/" ) Корзина
