.b-advs
      
  .b-hr-heading
    .b-hr-heading__content
      span Преимущества Seller
      
  hr.i-size-L
      
  .row
  
    .col-md-3.col-sm-6
    
      .row
        .col-xs-4.text-center
          img( src="/upload/advs/1.png" alt="" )
        .col-xs-8
          h3 Доступные цены
          p Мы предлагаем самые выгодные цены и условия доставки.
          
    hr.visible-xs
        
    .col-md-3.col-sm-6
    
      .row
        .col-xs-4.text-center
          img( src="/upload/advs/1.png" alt="" )
        .col-xs-8
          h3 Доступные цены
          p Мы предлагаем самые выгодные цены и условия доставки.
          
    hr.visible-sm.visible-xs.clearfix
        
    .col-md-3.col-sm-6
    
      .row
        .col-xs-4.text-center
          img( src="/upload/advs/1.png" alt="" )
        .col-xs-8
          h3 Доступные цены
          p Мы предлагаем самые выгодные цены и условия доставки.
          
    hr.visible-xs
        
    .col-md-3.col-sm-6
    
      .row
        .col-xs-4.text-center
          img( src="/upload/advs/1.png" alt="" )
        .col-xs-8
          h3 Доступные цены
          p Мы предлагаем самые выгодные цены и условия доставки.