// start /components/catalog.fullmenu/

link( rel="stylesheet", href="/components/catalog.fullmenu/style.css" )
script( src="/components/catalog.fullmenu/script.js" )

.b-catalog-full-menu
  .b-catalog-full-menu__head
    .b-catalog-full-menu__title Название блока, может быть в несколько строчек
    .b-catalog-full-menu__icon( style="background-image: url( '/template/images//headers/header_1_6_0_3/menu.svg' );" )
  .b-catalog-full-menu__content
    a( href="" ) Мужчинам
    span Женщинам
    a( href="" ) Мальчикам
    a( href="" ) Девочкам
    a( href="" ) И т.д.
  

// end /components/catalog.fullmenu/