@import '../../styl/component-include.styl'

.bj-instagram

  .row
    margin-bottom 30px
    
    @media( max-width 767px )
      margin-bottom 10px
  
  &__item
    background-repeat no-repeat
    background-position center
    background-size cover
    display block
    padding-top 100%
      