// start /components/instagram/

link( rel="stylesheet", href="/components/instagram/style.css" )
script( src="/components/instagram/script.js" )

.bj-instagram
  
  .b-hr-heading
    .b-hr-heading__content
      a( href="" target="_blank" ) Instagram
      
  .row
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/14.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/15.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/17.jpg" )
      
  .row
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/14.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/15.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-4
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/17.jpg" )
      
  .row
  
    .col-sm-3
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/14.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-3
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/15.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-3
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/17.jpg" )
      
    hr.visible-xs-block
  
    .col-sm-3
      a.bj-instagram__item( href="" data-original="/upload/catalog.detail/17.jpg" )

// end /components/instagram/