
<div class="b-sizes-menu">
  <h2>Таблица размеров</h2>
  <p>Как выбрать одежду своего размера?</p>
  <p>Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.</p>
  <hr class="i-size-L"/>
  <div class="b-sizes-menu__table hidden-xs">
    <div class="b-sizes-menu__th">
      <table>
        <tbody>
          <tr>
            <th>Обхват груди (см)</th>
          </tr>
          <tr>
            <th>Обхват талии (см)</th>
          </tr>
          <tr>
            <th>Обхват бедер (см)</th>
          </tr>
          <tr>
            <th>Российский размер (RUS)</th>
          </tr>
          <tr>
            <th>Европа / Германия (EUR / GER)</th>
          </tr>
          <tr>
            <th>Франция (FR)</th>
          </tr>
          <tr>
            <th>Италия (IT)</th>
          </tr>
          <tr>
            <th>США (USA)</th>
          </tr>
          <tr>
            <th>Великобритания (UK)</th>
          </tr>
          <tr>
            <th>Международный (INT)</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="b-sizes-menu__td">
      <div class="b-sizes-menu__scroll">
        <table>
          <tbody>
            <tr>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
            </tr>
            <tr>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
            </tr>
            <tr>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
            </tr>
            <tr>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
            </tr>
            <tr>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
            </tr>
            <tr>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
            </tr>
            <tr>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
            </tr>
            <tr>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
            </tr>
            <tr>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="b-sizes-menu__table-xs visible-xs">
    <table>
      <tbody>
        <tr>
          <th>Обхват груди (см)</th>
          <td>
            <select class="form-control">
              <option>78-82</option>
              <option>82-86</option>
              <option>86-90</option>
              <option>90-94</option>
              <option>94-98</option>
              <option>98-102</option>
              <option>102-106</option>
              <option>106-110</option>
              <option>110-114</option>
              <option>114-118</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Обхват талии (см)</th>
          <td>
            <select class="form-control">
              <option>58-62</option>
              <option>62-66</option>
              <option>66-70</option>
              <option>70-74</option>
              <option>74-78</option>
              <option>78-82</option>
              <option>82-86</option>
              <option>86-90</option>
              <option>90-94</option>
              <option>94-98</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Обхват бедер (см)</th>
          <td>
            <select class="form-control">
              <option>84-88</option>
              <option>88-92</option>
              <option>92-96</option>
              <option>96-100</option>
              <option>100-104</option>
              <option>104-108</option>
              <option>108-112</option>
              <option>112-116</option>
              <option>116-120</option>
              <option>120-124</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Российский размер (RUS)</th>
          <td><span>40</span><span>42</span><span>44</span><span>46</span><span>48</span><span>50</span><span>52</span><span>54</span><span>56</span><span>58</span></td>
        </tr>
        <tr>
          <th>Европа / Германия (EUR / GER)</th>
          <td><span>32</span><span>34</span><span>36</span><span>38</span><span>40</span><span>42</span><span>44</span><span>46</span><span>48</span><span>50</span></td>
        </tr>
        <tr>
          <th>Франция (FR)</th>
          <td><span>34</span><span>36</span><span>38</span><span>40</span><span>42</span><span>44</span><span>46</span><span>48</span><span>50</span><span>52</span></td>
        </tr>
        <tr>
          <th>Италия (IT)</th>
          <td><span>36</span><span>38</span><span>40</span><span>42</span><span>44</span><span>46</span><span>48</span><span>50</span><span>52</span><span>54</span></td>
        </tr>
        <tr>
          <th>США (USA)</th>
          <td><span>0</span><span>2</span><span>4</span><span>6</span><span>8</span><span>10</span><span>12</span><span>14</span><span>16</span><span>18</span></td>
        </tr>
        <tr>
          <th>Великобритания (UK)</th>
          <td><span>4</span><span>6</span><span>8</span><span>10</span><span>12</span><span>14</span><span>16</span><span>18</span><span>20</span><span>22</span></td>
        </tr>
        <tr>
          <th>Международный (INT)</th>
          <td><span>XXS/XS</span><span>XS/S</span><span>S</span><span>M</span><span>L</span><span>L/XL</span><span>XL</span><span>XXL</span><span>XXL</span><span>XXXL</span></td>
        </tr>
        <tr>
          <th>Европа (EUR2)</th>
          <td><span></span><span>0</span><span>1</span><span>2</span><span>3</span><span></span><span></span><span></span><span></span><span></span></td>
        </tr>
        <tr>
          <th>Международный (BM)</th>
          <td><span>T1</span><span>T1</span><span>T2</span><span>T2</span><span>T3</span><span>T3</span><span>T3</span><span></span><span></span><span></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>