// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" )
  
  .b-product-item-big-card
  
    include element2

// end /components/catalog.collection/