// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" )
  
  .b-product-item-line-card
  
    include element3

// end /components/catalog.collection/