@import '../../styl/component-include.styl'

#topSwiper
  
  .swiper-slide

    a
      display block
      height 400px
      background-repeat no-repeat
      background-position center
      background-size cover

      @media(max-width 767px)
        padding-top 100%
        height auto