@import '../../styl/component-include.styl'

#topSwiper

  .swiper
    display none

    &-button-next
      display flex
      opacity 0
      transform( translateX(50px))
      transition( all .3s linear )

    &-button-prev
      display flex
      opacity 0
      transform( translateX(-50px))
      transition( all .3s linear )

    &:hover
      
      .swiper-button-next,
      .swiper-button-prev
        opacity 1
        transform( translateX(0))
  
    &-slide

      a
        display block
        height 400px
        background-repeat no-repeat
        background-position center
        background-size cover

        @media(max-width 767px)
          padding-top 100%
          height auto

    &-wrapper
      position static
      top auto
      left auto
      opacity 1
      transform none

.top-swiper

  &-ph
    height 400px
    background-color $placeholder-color
    transition(background-color .5s ease-in)
    overflow hidden

    @media(max-width 767px) {
      height auto
      padding-top 100%
      position relative
    }

    &.top-swiper--initialized
      height auto
      padding-top 0
      background-color transparent
      overflow visible

  &-opacity
    opacity 0
    transition(opacity .5s ease-in)

    @media(max-width 767px) {
      position absolute
      top 0
      left 0
      width 100%
      z-index 1
    }

    .top-swiper--initialized &
      position static
      top 0
      left 0
      width auto
      opacity 1
      z-index 1