// start /components/top-banner/

link( rel="stylesheet", href="/components/top-banner/style.css" )
script( src="/components/top-banner/script.js" )

link( rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 

#topSwiper.swiper
  .swiper-wrapper
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/1.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/3.jpg)" href="/catalog/" target="_blank")
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/2.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/4.jpg)" href="/catalog/" target="_blank")
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/1.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/3.jpg)" href="/catalog/" target="_blank")
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/2.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/4.jpg)" href="/catalog/" target="_blank")
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/1.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/3.jpg)" href="/catalog/" target="_blank")
    .swiper-slide
      a.hidden-xs(style="background-image:url(/upload/top-banner/2.jpg)" href="/catalog/" target="_blank")
      a.visible-xs-block(style="background-image:url(/upload/top-banner/4.jpg)" href="/catalog/" target="_blank")
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev

// end /components/top-banner/