// start /components/video.plyr/

link( rel="stylesheet", href="/components/video.plyr/style.css" )
script( src="/components/video.plyr/script.js" )

link( rel="stylesheet", href="/template/libs/plyr.min.css" )
script( src="/template/libs/plyr.min.js" )
   
.b-plyr
  .preloader
  video#player( playsinline autoplay muted data-poster="/upload/map-list-switch/1.jpg" )
    source( src="/upload/ALLACOUTURE2.mp4" type="video/mp4" )
  
// end /components/video.plyr/