// start /components/ecommerce/

link( rel="stylesheet", href="/components/ecommerce/style.css" )
script( src="/components/ecommerce/script.js" )

.b-ecommerce
  h3 ecommerce

// end /components/ecommerce/