.bx-basket .form-control,
.bx-basket .form-group .form-control {
  height: 38px;
  border-color: #c1c5c8;
  padding: 6px 10px;
  font-size: .95rem;
  line-height: 1.72857143;
  -webkit-appearance:none;
}

.basket-items-search-field .form-control { z-index: 1; }

.basket-coupon-block-coupon-btn {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin-top: -4px;
	padding: 0;
	width: 8px;
	height: 8px;
	border: none;
	border-right: 1px solid #484848;
	border-bottom: 1px solid #484848;
	border-radius: 0;
	background-color: transparent;
	content: "";
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}