
<!-- start /components/instagram/-->
<link rel="stylesheet" href="/components/instagram/style.css"/>
<script src="/components/instagram/script.js"></script>
<div class="bj-instagram">
  <div class="b-hr-heading">
    <div class="b-hr-heading__content"><a href="" target="_blank">Instagram</a></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/14.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/15.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/17.jpg" class="bj-instagram__item"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/14.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/15.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-4"><a href="" data-original="/upload/catalog.detail/17.jpg" class="bj-instagram__item"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><a href="" data-original="/upload/catalog.detail/14.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-3"><a href="" data-original="/upload/catalog.detail/15.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-3"><a href="" data-original="/upload/catalog.detail/17.jpg" class="bj-instagram__item"></a></div>
    <hr class="visible-xs-block"/>
    <div class="col-sm-3"><a href="" data-original="/upload/catalog.detail/17.jpg" class="bj-instagram__item"></a></div>
  </div>
</div>
<!-- end /components/instagram/-->