extends ../../layouts/main.jade

block title
  title Товар отзыв | Seller

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
      
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        a(href='/catalog/', title='Каталог') Каталог
      li
        a(href='/catalog/muzhchinam/', title='Мужчинам') Мужчинам
      li
        a(href='/catalog/shoes/', title='Обувь') Обувь
      li
        a(href='/catalog/muzhskie_botinki/', title='Мужские ботинки') Мужские ботинки
      li
        span Кожанные ботинки
        
    hr.i-size-L
    
    a( href="http://seller-assembly.2px.ru/catalog/kurtki/dalgarno_jacket_3955/?product_id=226") http://seller-assembly.2px.ru/catalog/kurtki/dalgarno_jacket_3955/?product_id=226
        
    p Стили на сервере - /bitrix/templates/bejet_seller-1.6.0/components/bitrix/catalog/.default/bitrix/catalog.element/multiple-props/style.css
    p Стили в маркапе - /components/catalog.detail-props/style.css
    p Стили элементов формы подгружаются из template_styles.css