section.b-seller-tuner__colors

  | Цветовая схема
  
  hr.i-line.i-size-L
  
  .b-seller-tuner__block
    div( style="background-color: blue;" )
    div( style="background-color: lightblue;" )
    div( style="background-color: yellow;" )
    div( style="background-color: orange;" )
    
hr.i-size-L

section.b-seller-tuner__fonts

  | Шрифт
  
  hr.i-line.i-size-L
  
  .b-seller-tuner__block
    div Open Sans
    div Montserrat
    div Roboto
    div PT Sans
    div Lora
    
hr.i-size-L

section.b-seller-tuner__tags

  | Цвета ярлыков
  
  hr.i-line.i-size-L
  
  .b-seller-tuner__block
    div
      span( style="background-color: #ea4b4b;" )
      em Скидка
    div
      span( style="background-color: #86ad34;" )
      em Хит
    div
      span( style="background-color: #ea4b4b;" )
      em Новинка
    div
      span( style="background-color: #2f7cdb;" )
      em Рекомендуем
    div
      span( style="background-color: #4be1ea;" )
      em Акция