section.b-seller-tuner__headers( data-ajax-url="/components/tuner/color.json" data-ajax-method="GET" )
  input#headers( type="hidden" name="headers" value="1" )

  | Шапка сайта
  
  hr.i-line.i-size-L
  
  .b-seller-tuner__block
    | Вариант 1
    .b-seller-tuner__img.i-active( data-value="1" )
      img( src="/components/tuner/img/header1.jpg" alt="" )
    
  hr.i-size-L
  
  .b-seller-tuner__block
    | Вариант 2
    .b-seller-tuner__img( data-value="2" )
      img( src="/components/tuner/img/header1.jpg" alt="" )
    
  hr.i-size-L
  
  .b-seller-tuner__block
    | Вариант 3
    .b-seller-tuner__img( data-value="3" )
      img( src="/components/tuner/img/header1.jpg" alt="" )
    