
<!-- start /components/catalog.collection/-->
<link rel="stylesheet" href="/components/catalog.collection/style.css"/>
<script src="/components/catalog.collection/script.js"></script>
<div class="b-catalog-collection">
  <div class="row">
    <div class="col-sm-3">
      <div class="b-catalog-element">
        <div data-original="/upload/catalog.collection/1.jpg" class="b-catalog-element__img">
          <div data-original="/upload/catalog.collection/2.jpg" class="b-catalog-element__img-hover"></div>
        </div>
        <div class="b-catalog-element__title">Домашние тапочки O'NeilДомашние тапочки O'Neil</div>
        <hr class="i-line"/>
        <div class="row i-relative">
          <div class="col-xs-6 b-catalog-element__price i-discount"><span>2000.00 руб.</span>
            <s>7000 руб.</s>
          </div>
          <div class="col-xs-6 b-catalog-element__button"><a href="" class="btn btn-default btn-size-S">Купить</a></div>
        </div>
        <div class="b-catalog-element__bottom">
          <div class="b-catalog-element__colors-block"><span style="background-image: url( '/upload/catalog.detail/colors/1.gif' )" class="b-catalog-element__colors-item i-active"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/2.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/3.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/4.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/5.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/6.gif' )" class="b-catalog-element__colors-item"> <span></span></span></div>
          <hr/>
          <div class="b-catalog-element__sizes-block"><span class="b-catalog-element__sizes-item i-active">XS</span> <span class="b-catalog-element__sizes-item">S</span> <span class="b-catalog-element__sizes-item">M</span> <span class="b-catalog-element__sizes-item">L</span> <span class="b-catalog-element__sizes-item">XL</span> <span class="b-catalog-element__sizes-item">XXL</span> <span class="b-catalog-element__sizes-item">XXXL</span> <span class="b-catalog-element__sizes-item">46/170</span> <span class="b-catalog-element__sizes-item">46/176</span> <span class="b-catalog-element__sizes-item">146/456/182</span> <span class="b-catalog-element__sizes-item">48/170</span> <span class="b-catalog-element__sizes-item">48/176</span></div>
          <div class="b-catalog-element__props">
            <div>Материал трикотаж	</div>
            <div>Артикул 177-79-05</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-catalog-element">
        <div data-original="/upload/catalog.collection/1.jpg" class="b-catalog-element__img">
          <div data-original="/upload/catalog.collection/2.jpg" class="b-catalog-element__img-hover"></div>
        </div>
        <div class="b-catalog-element__title">Домашние тапочки O'NeilДомашние тапочки O'Neil</div>
        <hr class="i-line"/>
        <div class="row i-relative">
          <div class="col-xs-6 b-catalog-element__price">2000 руб.</div>
          <div class="col-xs-6 b-catalog-element__button"><a href="" class="btn btn-default btn-size-S">Купить</a></div>
        </div>
        <div class="b-catalog-element__bottom">
          <div class="b-catalog-element__colors-block"><span style="background-image: url( '/upload/catalog.detail/colors/1.gif' )" class="b-catalog-element__colors-item i-active"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/2.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/3.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/4.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/5.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/6.gif' )" class="b-catalog-element__colors-item"> <span></span></span></div>
          <hr/>
          <div class="b-catalog-element__sizes-block"><span class="b-catalog-element__sizes-item i-active">XS</span> <span class="b-catalog-element__sizes-item">S</span> <span class="b-catalog-element__sizes-item">M</span> <span class="b-catalog-element__sizes-item">L</span> <span class="b-catalog-element__sizes-item">XL</span> <span class="b-catalog-element__sizes-item">XXL</span> <span class="b-catalog-element__sizes-item">XXXL</span> <span class="b-catalog-element__sizes-item">46/170</span> <span class="b-catalog-element__sizes-item">46/176</span> <span class="b-catalog-element__sizes-item">146/456/182</span> <span class="b-catalog-element__sizes-item">48/170</span> <span class="b-catalog-element__sizes-item">48/176</span></div>
          <div class="b-catalog-element__props">
            <div>Материал трикотаж	</div>
            <div>Артикул 177-79-05</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-catalog-element">
        <div data-original="/upload/catalog.collection/1.jpg" class="b-catalog-element__img">
          <div data-original="/upload/catalog.collection/2.jpg" class="b-catalog-element__img-hover"></div>
        </div>
        <div class="b-catalog-element__title">Домашние тапочки O'NeilДомашние тапочки O'Neil</div>
        <hr class="i-line"/>
        <div class="row i-relative">
          <div class="col-xs-6 b-catalog-element__price i-discount"><span>2000.00 руб.</span>
            <s>7000 руб.</s>
          </div>
          <div class="col-xs-6 b-catalog-element__button"><a href="" class="btn btn-default btn-size-S">Купить</a></div>
        </div>
        <div class="b-catalog-element__bottom">
          <div class="b-catalog-element__colors-block"><span style="background-image: url( '/upload/catalog.detail/colors/1.gif' )" class="b-catalog-element__colors-item i-active"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/2.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/3.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/4.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/5.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/6.gif' )" class="b-catalog-element__colors-item"> <span></span></span></div>
          <hr/>
          <div class="b-catalog-element__sizes-block"><span class="b-catalog-element__sizes-item i-active">XS</span> <span class="b-catalog-element__sizes-item">S</span> <span class="b-catalog-element__sizes-item">M</span> <span class="b-catalog-element__sizes-item">L</span> <span class="b-catalog-element__sizes-item">XL</span> <span class="b-catalog-element__sizes-item">XXL</span> <span class="b-catalog-element__sizes-item">XXXL</span> <span class="b-catalog-element__sizes-item">46/170</span> <span class="b-catalog-element__sizes-item">46/176</span> <span class="b-catalog-element__sizes-item">146/456/182</span> <span class="b-catalog-element__sizes-item">48/170</span> <span class="b-catalog-element__sizes-item">48/176</span></div>
          <div class="b-catalog-element__props">
            <div>Материал трикотаж	</div>
            <div>Артикул 177-79-05</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-catalog-element">
        <div data-original="/upload/catalog.collection/1.jpg" class="b-catalog-element__img">
          <div data-original="/upload/catalog.collection/2.jpg" class="b-catalog-element__img-hover"></div>
        </div>
        <div class="b-catalog-element__title">Домашние тапочки O'NeilДомашние тапочки O'Neil</div>
        <hr class="i-line"/>
        <div class="row i-relative">
          <div class="col-xs-6 b-catalog-element__price i-discount"><span>2000.00 руб.</span>
            <s>7000 руб.</s>
          </div>
          <div class="col-xs-6 b-catalog-element__button"><a href="" class="btn btn-default btn-size-S">Купить</a></div>
        </div>
        <div class="b-catalog-element__bottom">
          <div class="b-catalog-element__colors-block"><span style="background-image: url( '/upload/catalog.detail/colors/1.gif' )" class="b-catalog-element__colors-item i-active"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/2.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/3.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/4.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/5.gif' )" class="b-catalog-element__colors-item"><span></span></span><span style="background-image: url( '/upload/catalog.detail/colors/6.gif' )" class="b-catalog-element__colors-item"> <span></span></span></div>
          <hr/>
          <div class="b-catalog-element__sizes-block"><span class="b-catalog-element__sizes-item i-active">XS</span> <span class="b-catalog-element__sizes-item">S</span> <span class="b-catalog-element__sizes-item">M</span> <span class="b-catalog-element__sizes-item">L</span> <span class="b-catalog-element__sizes-item">XL</span> <span class="b-catalog-element__sizes-item">XXL</span> <span class="b-catalog-element__sizes-item">XXXL</span> <span class="b-catalog-element__sizes-item">46/170</span> <span class="b-catalog-element__sizes-item">46/176</span> <span class="b-catalog-element__sizes-item">146/456/182</span> <span class="b-catalog-element__sizes-item">48/170</span> <span class="b-catalog-element__sizes-item">48/176</span></div>
          <div class="b-catalog-element__props">
            <div>Материал трикотаж	</div>
            <div>Артикул 177-79-05</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="padding-bottom: 500px;" class="i-size-L"/>
</div>
<!-- end /components/catalog.collection/-->