.b-sizes-menu

  h2 Таблица размеров

  p Как выбрать одежду своего размера?

  p Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.
  
  hr.i-size-L
  
  .b-sizes-menu__table
  
    .b-sizes-menu__th
    
      table
        tbody
          tr
            th Обхват груди (см)
          tr
            th Обхват талии (см)
          tr
            th Обхват бедер (см)
          tr
            th Российский размер (RUS)
          tr
            th Европа / Германия (EUR / GER)
          tr
            th Франция (FR)
          tr
            th Италия (IT)
          tr
            th США (USA)
          tr
            th Великобритания (UK)
          tr
            th Международный (INT)
          
    .b-sizes-menu__td
    
      .b-sizes-menu__scroll
    
        table
          tbody
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 78-82
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 58-62
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 84-108
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 40
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 32
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 34
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 36
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 0
            tr
              - var i = 0
                while i < 10
                  - i++
                  td 4
            tr
              - var i = 0
                while i < 10
                  - i++
                  td XXS/XS
