// start /components/catalog.blocks/

link( rel="stylesheet", href="/components/catalog.blocks/style.css" )
script( src="/components/catalog.blocks/script.js" )

.b-catalog-blocks
  .row
  
    .col-sm-4
    
      .b-catalog-block
        a.b-catalog-block__img( href='/catalog/' style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" )
        hr.i-size-S
        h2.b-catalog-block__title
          a( href='/catalog/' ) Куртки, толстовки, плащи, пальто разных фасонов
        hr.i-size-S.hidden-xs
        hr.visible-xs-block
        div
          p Мужские куртки разных стилей и фасонов, для осени и зимы. Актуальные модели нового 
            nobr осенне-зимнего
            |  сезона.
            
    hr.i-size-L.visible-xs-block
    
    .col-sm-4
    
      .b-catalog-block
        a.b-catalog-block__img( href='/catalog/' style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" )
        hr.i-size-S
        h2.b-catalog-block__title
          a( href='/catalog/' ) Обувь
        hr.i-size-S.hidden-xs
        hr.visible-xs-block
        div
          p Сложно представить себе элементы гардероба современного человека, которые выбирались бы более тщательно и основательно, чем обувь. Это больше, чем просто стильный аксессуар: ботинки, сапоги, туфли и другие модели выполняют очень важную функцию — они отвечают за комфорт, а иногда и за здоровье ног.
                
    hr.i-size-L.visible-xs-block
    
    .col-sm-4
    
      .b-catalog-block
        a.b-catalog-block__img( href='/catalog/' style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" )
        hr.i-size-S
        h2.b-catalog-block__title
          a( href='/catalog/' ) Брюки
        hr.i-size-S.hidden-xs
        hr.visible-xs-block
        div
          p Прекрасный выбор качественных мужских брюк на все случаи жизни. Брюки для офиса, повседневные брюки и брюки для особых случаев.

// end /components/catalog.blocks/