extends ../../layouts/main.jade

block title
  title Catalog detail page | Seller

block content

  .container-fluid
    include ../../components/catalog.detail/template
    
    //#viewCounter( data-url="/template/counter.json?IBLOCK_ID=3&ELEMENT_ID=40647&SITE_ID=s1" )
  
  hr.i-size-L
    
  .b-section.i-grey

    .container-fluid
    
      .b-hr-heading
        .b-hr-heading__content
          span Завершите образ
          
      hr.i-size-L
          
      include ../../components/catalog.collection/template
      
      include ../../components/lookbook/template