
<!-- start /components/brands/-->
<link rel="stylesheet" href="/template/swiper.min.css"/>
<script src="/template/libs/swiper.min.js"></script>
<link rel="stylesheet" href="/components/brands/style.css"/>
<script src="/components/brands/script.js"></script>
<style>
  .b-brands { height: 400px; }
  .b-brands__placeholder { display: flex; align-items: stretch; margin: 0 -15px; }
  .b-brands__placeholder span { width: calc( 25% - 30px ); margin: 0 15px; background-color: #fff; height: 300px; }
  .swiper-wrapper { position: absolute; top: 0; left: 0; opacity: 0; transform: opacity 0.5s ease; -webkit-transform: opacity 0.5s ease; }
  .swiper-button-next, .swiper-button-prev { display: none; }
</style>
<div class="b-brands">
  <div class="container-fluid">
    <div class="b-hr-heading i-no-line">
      <div class="b-hr-heading__content"><a href="">Бренды</a></div>
    </div>
    <div class="b-brands__placeholder"><span></span><span></span><span></span><span></span></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
        <div class="swiper-slide">
          <div style="background-image: url(/upload/catalog.detail/14.jpg);" class="b-brands-card"></div>
        </div>
      </div>
      <div style="background-image: url( '/components/brands/images/right-arrow.svg' );" class="swiper-button-next"></div>
      <div style="background-image: url( '/components/brands/images/left-arrow.svg' );" class="swiper-button-prev"></div>
    </div>
  </div>
</div>
<!-- end /components/brands/-->