
<section class="bj-page-header__dropdown">
  <div class="i-relative">
    <article>
      <div class="container-fluid">
        <div class="bj-page-header__dropdown-hr"></div>
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h3><a href="/catalog/muzhchinam/">Мужчинам</a></h3>
                <menu>
                  <li><a href="/catalog/kurtki/">Куртки</a></li>
                  <li><a href="/catalog/shoes/">Обувь</a></li>
                  <li><a href="/catalog/bryuki/">Брюки</a></li>
                  <li><a href="/catalog/rubashki-muzh/">Рубашки</a></li>
                </menu>
              </div>
              <div class="col-md-4 col-sm-4">
                <h3><a href="/catalog/zhenshchinam/">Женщинам</a></h3>
                <menu>
                  <li><a href="/catalog/zhenskoe_belje/">Белье</a></li>
                  <li><a href="/catalog/w-bryuki/">Брюки</a></li>
                  <li><a href="/catalog/dzhinsy/">Деним</a></li>
                  <li><a href="/catalog/zhenskaya_obuv/">Обувь</a></li>
                  <li><a href="/catalog/palto/">Пальто</a></li>
                  <li><a href="/catalog/platya_women/">Платья</a></li>
                  <li><a href="/catalog/accessories/">Аксессуары</a></li>
                </menu>
              </div>
              <div class="col-md-4 col-sm-4">
                <h3><a href="/catalog/devochkam/">Девочкам</a></h3>
                <menu>
                  <li><a href="/catalog/platya/">Платья</a></li>
                  <li><a href="/catalog/futbolki-devochkam/">Футболки</a></li>
                  <li><a href="/catalog/shorty/">Шорты</a></li>
                </menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h3><a href="/catalog/malchikam/">Мальчикам</a></h3>
                <menu>
                  <li><a href="/catalog/kurtki_malchikam/">Куртки</a></li>
                  <li><a href="/catalog/svitery/">Свитеры</a></li>
                  <li><a href="/catalog/futbolki/">Футболки</a></li>
                </menu>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="bj-page-header__dropdown-b hidden-sm hidden-xs"><a href=""><img src="/template/images/banner.jpg"/></a></div>
          </div>
        </div>
        <div><a href="/brand/"><strong>Бренды </strong> (Все 8)</a></div>            
        <hr/>            
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/alexander-mcqueen/"><img alt="" src="/template/images/brand1.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/alexander-mcqueen/">Alexander McQueen</a></div>
            </div>
          </div>                
          <hr class="visible-xs-block clearfix"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/benetton/"><img alt="" src="/template/images/brand2.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/benetton/">Benetton</a></div>
            </div>
          </div>                
          <div class="visible-xs-block visible-sm-block clearfix"></div>                
          <hr class="visible-xs-block visible-sm-block"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/adidas/"><img alt="" src="/template/images/brand3.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/adidas/">Adidas</a></div>
            </div>
          </div>                
          <hr class="visible-xs-block clearfix"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/burberry/"><img alt="" src="/template/images/brand4.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/burberry/">Burberry</a></div>
            </div>
          </div>
        </div>            
        <hr/>            
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/chanel/"><img alt="" src="/template/images/brand5.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/chanel/">Chanel</a></div>
            </div>
          </div>                
          <hr class="visible-xs-block clearfix"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/christian-louboutin/"><img alt="" src="/template/images/brand6.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/christian-louboutin/">Christian Louboutin</a></div>
            </div>
          </div>                
          <div class="visible-xs-block visible-sm-block clearfix"></div>                
          <hr class="visible-xs-block visible-sm-block"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/diesel/"><img alt="" src="/template/images/brand7.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/diesel/">Diesel</a></div>
            </div>
          </div>                
          <hr class="visible-xs-block clearfix"/>                
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left media-middle"><a href="/brand/dior/"><img alt="" src="/template/images/brand8.png" class="media-object"/></a></div>                        
              <div class="media-body media-middle"><a href="/brand/dior/">Dior</a></div>
            </div>
          </div>
        </div>            
        <hr/>            
        <hr class="i-size-L"/>            
        <button class="up"></button>
      </div>
    </article>
  </div>
</section>