
<header class="bj-page-header">
  <section class="bj-page-header__top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-6 bj-logo-space"><span class="bj-logo"><img width="143" alt="" src="/template/images/logo.png" height="40" title=""/></span><span class="bj-page-header__search hidden-xs">
            <form action="/catalog/"><span style=" background-image: url( '/template/images/search.svg' );" class="bj-page-header__search-icon"></span>
              <input id="title-search-input" type="search" name="q" size="23" maxlength="50" autocomplete="off" value="" placeholder="Я ищу..." class="bj-page-header__search__input form-control"/>
              <input name="s" type="hidden" value=""/>
            </form></span>
          <div class="bj-top-nav hidden-sm hidden-xs"><a href="/catalog/" class="bj-page-header__menu-link">Каталог</a><a href="/lookbook/">LookBook</a><a href="/catalog/">Акции</a><a href="/catalog/">Оплата</a><a href="/catalog/">Доставка</a></div><a id="nav-button" href="#" data-activates="sideNavPanel" class="bj-nav-button hidden-sm hidden-xs"><span style="background-image: url( '/template/images/menu.svg' );" class="bj-menu-icon"></span></a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><a id="nav-button-xs" href="#" data-activates="sideNavPanel" class="bj-nav-button visible-sm-inline-block visible-xs-inline-block"><span style="background-image: url( '/template/images/menu.svg' );" class="bj-menu-icon"></span></a>
          <div id="personal_menu" class="bj-personal hidden-xs">
            <button href="#" data-content="&lt;a href=&quot;/auth/&quot;&gt;Войти&lt;/a&gt;&lt;a href=&quot;/auth/?register=yes&quot;&gt;Зарегистрироваться&lt;/a&gt;" data-original-title="" title="" style=" background-image: url( '/template/images/profile-icon.svg' );" class="bj-personal-icon"></button>
          </div><span class="bj-search-icon hidden-xs"><span style=" background-image: url( '/template/images/search.svg' );"></span></span><a href="#" data-toggle="modal" data-target="#myModal" class="bj-earphone-icon"><span style="background-image: url( '/template/images/tel-white.svg' );"></span></a>
          <div class="bj-page-header__search-close"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="bj-page-header__sub">
    <div class="container-fluid">
      <div class="bj-page-header__sub-wrapper"><a href="" class="bj-page-header__menu-link">Каталог</a><a href="">О магазине</a><a href="">Новости</a><a href="">Контакты</a><a href="">Вакансии</a><a href="">Как купить</a><a href="">Оплата</a><a href="">Доставка</a><a href="">Гарантии</a><a href="">Вакансии</a><a href="">Скидки</a><a href="">Доставка</a><a href="">Гарантии</a></div>
    </div>
  </section>
  <section class="bj-page-header__dropdown">
    <div class="i-relative">
      <article>
        <div class="container-fluid">
          <div class="bj-page-header__dropdown-hr"></div>
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <h3><a href="/catalog/muzhchinam/">Мужчинам</a></h3>
                  <menu>
                    <li><a href="/catalog/kurtki/">Куртки</a></li>
                    <li><a href="/catalog/shoes/">Обувь</a></li>
                    <li><a href="/catalog/bryuki/">Брюки</a></li>
                    <li><a href="/catalog/rubashki-muzh/">Рубашки</a></li>
                  </menu>
                </div>
                <div class="col-md-4 col-sm-4">
                  <h3><a href="/catalog/zhenshchinam/">Женщинам</a></h3>
                  <menu>
                    <li><a href="/catalog/zhenskoe_belje/">Белье</a></li>
                    <li><a href="/catalog/w-bryuki/">Брюки</a></li>
                    <li><a href="/catalog/dzhinsy/">Деним</a></li>
                    <li><a href="/catalog/zhenskaya_obuv/">Обувь</a></li>
                    <li><a href="/catalog/palto/">Пальто</a></li>
                    <li><a href="/catalog/platya_women/">Платья</a></li>
                    <li><a href="/catalog/accessories/">Аксессуары</a></li>
                  </menu>
                </div>
                <div class="col-md-4 col-sm-4">
                  <h3><a href="/catalog/devochkam/">Девочкам</a></h3>
                  <menu>
                    <li><a href="/catalog/platya/">Платья</a></li>
                    <li><a href="/catalog/futbolki-devochkam/">Футболки</a></li>
                    <li><a href="/catalog/shorty/">Шорты</a></li>
                  </menu>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <h3><a href="/catalog/malchikam/">Мальчикам</a></h3>
                  <menu>
                    <li><a href="/catalog/kurtki_malchikam/">Куртки</a></li>
                    <li><a href="/catalog/svitery/">Свитеры</a></li>
                    <li><a href="/catalog/futbolki/">Футболки</a></li>
                  </menu>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="bj-page-header__dropdown-b hidden-sm hidden-xs"><a href=""><img src="/template/images/banner.jpg"/></a></div>
            </div>
          </div>
          <div><a href="/brand/"><strong>Бренды </strong> (Все 8)</a></div>            
          <hr/>            
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/alexander-mcqueen/"><img alt="" src="/template/images/brand1.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/alexander-mcqueen/">Alexander McQueen</a></div>
              </div>
            </div>                
            <hr class="visible-xs-block clearfix"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/benetton/"><img alt="" src="/template/images/brand2.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/benetton/">Benetton</a></div>
              </div>
            </div>                
            <div class="visible-xs-block visible-sm-block clearfix"></div>                
            <hr class="visible-xs-block visible-sm-block"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/adidas/"><img alt="" src="/template/images/brand3.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/adidas/">Adidas</a></div>
              </div>
            </div>                
            <hr class="visible-xs-block clearfix"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/burberry/"><img alt="" src="/template/images/brand4.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/burberry/">Burberry</a></div>
              </div>
            </div>
          </div>            
          <hr/>            
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/chanel/"><img alt="" src="/template/images/brand5.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/chanel/">Chanel</a></div>
              </div>
            </div>                
            <hr class="visible-xs-block clearfix"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/christian-louboutin/"><img alt="" src="/template/images/brand6.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/christian-louboutin/">Christian Louboutin</a></div>
              </div>
            </div>                
            <div class="visible-xs-block visible-sm-block clearfix"></div>                
            <hr class="visible-xs-block visible-sm-block"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/diesel/"><img alt="" src="/template/images/brand7.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/diesel/">Diesel</a></div>
              </div>
            </div>                
            <hr class="visible-xs-block clearfix"/>                
            <div class="col-md-3 col-sm-6">
              <div class="media">
                <div class="media-left media-middle"><a href="/brand/dior/"><img alt="" src="/template/images/brand8.png" class="media-object"/></a></div>                        
                <div class="media-body media-middle"><a href="/brand/dior/">Dior</a></div>
              </div>
            </div>
          </div>            
          <hr/>            
          <hr class="i-size-L"/>            
          <button class="up"></button>
        </div>
      </article>
    </div>
  </section>
  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>                  
          <h2 id="myModalLabel" class="modal-title text-center">&Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;</h2>
        </div>                
        <div class="modal-body text-center">
          <div class="bj-text-x-large">8 (495) 212 85 06</div>                  
          <div class="small">&Pcy;&ncy;-&Vcy;&scy; 10-19</div>
        </div>                
        <div style="display:none" class="modal-footer text-center">
          <button type="button" class="btn btn-default">&Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;</button>
        </div>
      </div>
    </div>
  </div>
</header>
<ul id="sideNavPanel" class="side-nav">
  <li class="logo"><span class="bj-logo"><img width="143" alt="" src="" height="40" title=""/></span></li>
  <li class="no-padding">
    <div class="media">
      <div class="media-body">
        <ul>
          <li><a href="/personal/">admin admin</a></li>
          <li><a href="/?logout=yes">Выйти</a></li>
        </ul>
      </div>
      <div class="media-right"><a href="/personal/"><img src="" width="64" height="48"/></a></div>
    </div>
  </li>
  <li class="no-padding">
    <ul>
      <li><a href="/personal/cart/">Корзина <span class="badge">3</span></a></li>
      <li><a href="/personal/index.php?SECTION=orders">Мои заказы</a></li>
    </ul>
  </li>
  <li class="no-padding">
    <ul>
      <li><a href="/search/">Поиск</a></li>
      <li><a href="/catalog/" class="bj-page-header__menu-link">Каталог</a></li>
      <li><a href="/campaign/">Акции</a></li>
      <li><a href="/journal/">Журнал</a></li>
      <li><a href="/lookbook/">LookBook</a></li>
      <li><a href="/about/">О магазине</a></li>
      <li><a href="/news/">Новости</a></li>
      <li><a href="/about/contacts/">Контакты</a></li>
      <li><a href="/about/vacancies/">Вакансии</a></li>
      <li><a href="/about/howto/">Как купить</a></li>
      <li><a href="/payment/">Оплата</a></li>
      <li><a href="/about/delivery/">Доставка</a></li>
      <li><a href="/about/guaranty/">Гарантии</a></li>
    </ul>
  </li>
</ul>