.bx-sls .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-route {
	position: absolute !important;
	top: 0;
	left: 0;

	color: #000 !important;

	opacity: 1 !important;
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;

	padding:0 22px 0 0 !important;
	background-position: right 1px;
	background-repeat: no-repeat;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 33px;
	width: 100%;
	outline: none;
	z-index:10;
}
.bx-sls .bx-ui-sls-route{
	color: #aba8ac !important;
	z-index:5;
}