@import '../../styl/component-include.styl'

.b-catalog-tags
  font-size .85rem
  margin 12px 0
  text-align right
  
  a
    margin-left 22px
    
    @media (max-width: 767px)
      margin 0 11px
    
  @media (max-width: 767px)
    text-align center