// start /components/search.result/

link( rel="stylesheet", href="/components/search.result/style.css" )
script( src="/components/search.result/script.js" )

h1 Вы искали: куртк

.b-search-form
  form( action="" method="" )
    .b-search-form-group
      input.b-search-form-control( type="text" val="Куртк" name="SEARCH" style="background-image: url( '/template/images/headers/header_1_6_0_3/search.svg' );" )
      .b-search-form-clear
      
hr.i-size-L
  
.row
  .col-sm-8.col-sm-offset-2
    h2 Заголовок
    p When using Bootstrap’s source Sass files, you have the option of using Sass variables and mixins to create custom, semantic, and responsive page layouts. Our predefined grid classes use these same variables and mixins to provide a whole suite of ready-to-use classes for fast responsive layouts.
    
hr

.b-search-section-nav
  span.b-search-section-nav__title Смотрите в разделах:
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  a( href="" ) Куртки
  a( href="" ) Верхняя одежда
  a( href="" ) осень-зима
  a( href="" ) 2020
  
hr

.row
    
  .col-sm-6
    
    .bj-sorting
      .text-muted Сортировка:
      .dropdown
        a#dLabel(href='#', role='button', data-toggle='dropdown', data-target='#', aria-expanded='false')
          | Недорогие вещи для зимы
          span.caret
        ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
          li
            a(href='/catalog/shoes/?sort=cheap#sort') Недорогие
          li
            a(href='/catalog/shoes/?sort=new#sort') Новые
          li
            a(href='/catalog/shoes/?sort=popular#sort') Популярные
      .clearfix
  hr.visible-xs
      
  .col-sm-6.text-right.hidden-xs
    include ../../modules/pagination/include
    
hr.i-size-L.i-line
    
include ../../components/catalog.collection/meta
include ../../modules/gallery/fotorama

include ../../components/catalog.collection/template-3

hr.i-size-L.i-line

.row
  .col-sm-8.col-sm-offset-2
    h2 Заголовок
    p When using Bootstrap’s source Sass files, you have the option of using Sass variables and mixins to create custom, semantic, and responsive page layouts. Our predefined grid classes use these same variables and mixins to provide a whole suite of ready-to-use classes for fast responsive layouts.
    

// end /components/search.result/