// start /components/search.result/

link( rel="stylesheet", href="/components/search.result/style.css" )
script( src="/components/search.result/script.js" )

h1 Вы искали: куртк

.b-search-form
  form( action="" method="" )
    .b-search-form-group
      input.b-search-form-control( type="text" val="Куртк" name="SEARCH" )
      .b-search-form-clear
      
hr.i-size-L
  
.row
  .col-sm-8.col-sm-offset-2
    h2 Заголовок
    p When using Bootstrap’s source Sass files, you have the option of using Sass variables and mixins to create custom, semantic, and responsive page layouts. Our predefined grid classes use these same variables and mixins to provide a whole suite of ready-to-use classes for fast responsive layouts.
    
hr.i-size-L.i-line
    
include ../../components/catalog.collection/meta
include ../../modules/gallery/fotorama

include ../../components/catalog.collection/template-3

hr.i-size-L.i-line

.row
  .col-sm-8.col-sm-offset-2
    h2 Заголовок
    p When using Bootstrap’s source Sass files, you have the option of using Sass variables and mixins to create custom, semantic, and responsive page layouts. Our predefined grid classes use these same variables and mixins to provide a whole suite of ready-to-use classes for fast responsive layouts.
    

// end /components/search.result/