extends ../layouts/main.jade

block title
  title Catalog page | Seller

block content

  .container-fluid
    
    .row
    
    
      include ../components/catalog.collection/meta
      include ../modules/gallery/fotorama
      
      .col-sm-3
        div( style="border: 3px solid #ccc; height: 9000px;" ) Filter is here
      
      .col-sm-9
      
        include ../components/catalog.collection/template-1-vert
        hr.i-size-L
        include ../components/catalog.collection/template-1-hor
        hr.i-size-L
        include ../components/catalog.collection/template-2
        hr.i-size-L
        include ../components/catalog.collection/template-3
        hr.i-size-L
        include ../components/catalog.collection/template-4
        hr.i-size-L
        include ../components/catalog.collection/template-1+4.jade
        hr.i-size-L
        include ../components/catalog.collection/template-4+1.jade
        hr.i-size-L
        include ../components/catalog.collection/template-6
        hr.i-size-L
        include ../components/catalog.collection/template-1+6.jade
        
    hr.i-size-L
      
    include ../components/catalog.collection/template-1-vert
    hr.i-size-L
    include ../components/catalog.collection/template-1-hor
    hr.i-size-L
    include ../components/catalog.collection/template-2
    hr.i-size-L
    include ../components/catalog.collection/template-3
    hr.i-size-L
    include ../components/catalog.collection/template-4
    hr.i-size-L
    include ../components/catalog.collection/template-1+4.jade
    hr.i-size-L
    include ../components/catalog.collection/template-4+1.jade
    hr.i-size-L
    include ../components/catalog.collection/template-6
    hr.i-size-L
    include ../components/catalog.collection/template-1+6.jade
  
  hr.i-size-L