
<!-- start /components/catalog.blocks/-->
<link rel="stylesheet" href="/components/catalog.blocks/style.css"/>
<script src="/components/catalog.blocks/script.js"></script>
<div class="b-catalog-blocks">
  <div class="row">
    <div class="col-sm-4">
      <div class="b-catalog-block"><a href="/catalog/" style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" class="b-catalog-block__img"></a>
        <hr class="i-size-S"/>
        <h2 class="b-catalog-block__title"><a href="/catalog/">Куртки, толстовки, плащи, пальто разных фасонов</a></h2>
        <hr class="i-size-S hidden-xs"/>
        <hr class="visible-xs-block"/>
        <div>
          <p>Мужские куртки разных стилей и фасонов, для осени и зимы. Актуальные модели нового 
            <nobr>осенне-зимнего</nobr> сезона.
          </p>
        </div>
      </div>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-4">
      <div class="b-catalog-block"><a href="/catalog/" style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" class="b-catalog-block__img"></a>
        <hr class="i-size-S"/>
        <h2 class="b-catalog-block__title"><a href="/catalog/">Обувь</a></h2>
        <hr class="i-size-S hidden-xs"/>
        <hr class="visible-xs-block"/>
        <div>
          <p>Сложно представить себе элементы гардероба современного человека, которые выбирались бы более тщательно и основательно, чем обувь. Это больше, чем просто стильный аксессуар: ботинки, сапоги, туфли и другие модели выполняют очень важную функцию — они отвечают за комфорт, а иногда и за здоровье ног.</p>
        </div>
      </div>
    </div>
    <hr class="i-size-L visible-xs-block"/>
    <div class="col-sm-4">
      <div class="b-catalog-block"><a href="/catalog/" style="background-image: url(/upload/catalog.collection/section1.jpg);" title="Куртки на Seller — готовый магазин одежды" class="b-catalog-block__img"></a>
        <hr class="i-size-S"/>
        <h2 class="b-catalog-block__title"><a href="/catalog/">Брюки</a></h2>
        <hr class="i-size-S hidden-xs"/>
        <hr class="visible-xs-block"/>
        <div>
          <p>Прекрасный выбор качественных мужских брюк на все случаи жизни. Брюки для офиса, повседневные брюки и брюки для особых случаев.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.blocks/-->