<a href="<?=$lastElem['DETAIL_PAGE_URL']?>" id="catalogDetailPrevLink" style="background-image: url( <?=$templateData['TEMPLATE_FOLDER'] ?>/images/arrow-left.svg );"></a>
<a href="<?=$nextElem['DETAIL_PAGE_URL']?>" id="catalogDetailNextLink" style="background-image: url( <?=$templateData['TEMPLATE_FOLDER'] ?>/images/arrow-right.svg );"></a>