@import '../../styl/component-include.styl'

.title-search-result
  border-color #666666
  
.bx_searche

  .bx_img_element
    background none

  .bx_image
    border none
    square( 50px )
    
  .bx_item_block
    min-height 60px
    
  .bx_img_element
    width 70px
    
  .bx_item_element
    text-align left
    font-size 10.5pt
    line-height 60px
    
    a
      color #333
      margin-top 0
      line-height normal
      vertical-align middle
      
    .all_result_title
      line-height 57px
      
      a
        margin-top 0
        color #666666
        font-weight 700
        line-height normal
        
        &:hover
          color #666666
      
.bx_item_block.all_result
  background-color #ccc
  
  .all_result_title
    padding 0
    color #333