section#userDropdown.bj-page-header__user-dropdown
  .i-relative
      article
        .container-fluid
          a( href="" ) Войти
          a( href="" ) Регистрация
          hr
          a( href="" ) tatiana
          a( href="" ) Мои заказы
          a( href="" ) Выйти