.b-catalog-element
  
  .b-catalog-element__img( data-original="/upload/catalog.collection/1.jpg" )
  
    .b-catalog-element__img-hover( data-original="/upload/catalog.collection/2.jpg" )
    
  .b-catalog-element__title Домашние тапочки O'NeilДомашние тапочки O'Neil
  
  hr.i-line
  
  .row.i-relative
    .col-xs-6.b-catalog-element__price.i-discount
      span 2000.00 руб.
      s 7000 руб.
      
    .col-xs-6.b-catalog-element__button
      a.btn.btn-default.btn-size-S( href="" ) Купить
  
  .b-catalog-element__bottom
        
    .b-catalog-element__colors-block
          
      span.b-catalog-element__colors-item.i-active( style="background-image: url( '/upload/catalog.detail/colors/1.gif' )" )
        span
      
      span.b-catalog-element__colors-item( style="background-image: url( '/upload/catalog.detail/colors/2.gif' )" )
        span
      
      span.b-catalog-element__colors-item( style="background-image: url( '/upload/catalog.detail/colors/3.gif' )" )
        span
      
      span.b-catalog-element__colors-item( style="background-image: url( '/upload/catalog.detail/colors/4.gif' )" )
        span
      
      span.b-catalog-element__colors-item( style="background-image: url( '/upload/catalog.detail/colors/5.gif' )" )
        span
      
      span.b-catalog-element__colors-item( style="background-image: url( '/upload/catalog.detail/colors/6.gif' )" ) 
        span
        
    hr
        
    .b-catalog-element__sizes-block
          
      span.b-catalog-element__sizes-item.i-active XS
      | 
      span.b-catalog-element__sizes-item S
      | 
      span.b-catalog-element__sizes-item M
      | 
      span.b-catalog-element__sizes-item L
      | 
      span.b-catalog-element__sizes-item XL
      | 
      span.b-catalog-element__sizes-item XXL
      | 
      span.b-catalog-element__sizes-item XXXL
      | 
      span.b-catalog-element__sizes-item 46/170
      | 
      span.b-catalog-element__sizes-item 46/176
      | 
      span.b-catalog-element__sizes-item 146/456/182
      | 
      span.b-catalog-element__sizes-item 48/170
      | 
      span.b-catalog-element__sizes-item 48/176
      
    .b-catalog-element__props
      div Материал трикотаж	
      div Артикул 177-79-05