.b-catalog-element(itemscope='', itemtype='http://schema.org/Product')
  .b-catalog-element__top
    .b-catalog-element__props-icons
      .b-prop( style="color: #ca3538; border-color: #ca3538;" ) 35%
      .b-prop( style="color: #528b16; border-color: #528b16;" ) Рекомендуем
      .b-prop( style="color: #f09e00; border-color: #f09e00;" ) Хит
      .b-prop( style="color: #8e42b1; border-color: #8e42b1;" ) Акция
      .b-prop( style="color: #8e42b1; border-color: #8e42b1;" ) Новинка
    .b-catalog-element__img(data-original='/upload/catalog.collection/1.jpg', itemprop='image')
      a.b-catalog-element__img-hover(href='', data-original='/upload/catalog.collection/2.jpg', itemprop='image')
  .b-catalog-element__right
    a.b-catalog-element__title(href='/catalog/detail/', itemprop='name', title="Домашние тапочки O'Neil Домашние тапочки O'Neil") Домашние тапочки O'Neil Домашние тапочки O'Neil
    hr.i-line
    hr
    .b-catalog-element__price 2000 руб.
    .b-catalog-element__bottom
      div
        .b-catalog-element__price 2000 руб.
        .b-catalog-element__button
          a.btn.btn-default.btn-size-S( href="/personal/cart/" data-ajax-url="/components/catalog.detail/buy.json" )
            span.i-show Купить
            span В корзине
        .b-catalog-element__subscribe
          a.btn.btn-default.btn-size-S(href='#', data-toggle='modal', data-target='#subscribeModal', data-ajax-url='/components/catalog.collection/subscribe.html?somedata=value') Подписаться
      hr.i-size-S
      
      .b-catalog-element__propList-block
      
      hr.i-size-S
      
      .b-catalog-element__num
        span.i-1
          | В наличии 
          span 34
          |  шт.
        span.i-0 Нет в наличии
      
      hr.i-size-S
      
      .b-catalog-element__props
        div Материал трикотаж
        .catalogElementProperty1
          | Артикул 
          span 177-79-05
        .catalogElementProperty2
          | Код 
          span 89919381234
        .catalogElementProperty1
          | Артикул 
          span 177-79-05
        .catalogElementProperty2
          | Код 
          span 89919381234
        .catalogElementProperty1
          | Артикул 
          span 177-79-05
        .catalogElementProperty2
          | Код 
          span 89919381234
        .catalogElementProperty1
          | Артикул 
          span 177-79-05
        .catalogElementProperty2
          | Код 
          span 89919381234
        .catalogElementProperty1
          | Артикул 
          span 177-79-05
        .catalogElementProperty2
          | Код 
          span 89919381234
          
  .b-catalog-element__data( data-actual-item='2038' data-prop-list='[{&quot;type&quot;:&quot;color&quot;,&quot;code&quot;:&quot;color_ref&quot;,&quot;name&quot;:&quot;Цвет&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;sizes_shoes&quot;,&quot;name&quot;:&quot;Размеры обуви&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;sizes_clothes&quot;,&quot;name&quot;:&quot;Размеры одежды &quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;lenght&quot;,&quot;name&quot;:&quot;Длина&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;weight&quot;,&quot;name&quot;:&quot;Ширина&quot;},{}]' data-category='Мужчинам/Рубашки' data-brand='')
    div(data-id='2038' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='44' data-list-sizes_clothes='' data-list-lenght='' data-list-weight='' data-price='20&nbsp;000 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/iblock/f6a/f6a7854a06da63643c886948ad3857f7.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/f6a/f6a7854a06da63643c886948ad3857f7.jpg' data-available='Y' data-subscribe='N' data-num='0' data-num-type='N' data-num-num='0' data-incart='N')
    div(data-id='2037' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='42' data-list-sizes_clothes='' data-list-lenght='' data-list-weight='' data-price='20&nbsp;000 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/iblock/92c/92c7a498fe19d9b09a7fd2581c1d5465.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/92c/92c7a498fe19d9b09a7fd2581c1d5465.jpg' data-available='Y' data-subscribe='N' data-num='0' data-num-type='N' data-num-num='0' data-incart='N')
    div(data-id='2039' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='42' data-list-sizes_clothes='' data-list-lenght='' data-list-weight='' data-price='21&nbsp;000 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/iblock/999/99986a265647b9953fb5833d86749bfe.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/999/99986a265647b9953fb5833d86749bfe.jpg' data-available='Y' data-subscribe='N' data-num='0' data-num-type='N' data-num-num='0' data-incart='N')
    div(data-id='2040' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='44' data-list-sizes_clothes='' data-list-lenght='' data-list-weight='' data-price='21&nbsp;000 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/iblock/771/771c0526cd7340d180f117c915ea4d26.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/771/771c0526cd7340d180f117c915ea4d26.jpg' data-available='Y' data-subscribe='N' data-num='0' data-num-type='N' data-num-num='0' data-incart='N')
