.b-catalog-element.i-test( itemscope itemtype="http://schema.org/Product" )

  .b-catalog-element__top
  
    .b-catalog-element__img( data-original="http://seller-assembly170.2px.ru/upload/catalog.collection/1.jpg" itemprop="image" )
    
      a.b-catalog-element__img-hover( href="" data-original="http://seller-assembly170.2px.ru/upload/catalog.collection/2.jpg" itemprop="image" )

  .b-catalog-element__right
      
    a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
    
    hr.i-line
    hr
    
    .b-catalog-element__price 2000 руб.
    
    .b-catalog-element__bottom
    
      div
        .b-catalog-element__price 2000 руб.
          
        .b-catalog-element__button
          a.btn.btn-default.btn-size-S( href="/personal/cart/" data-ajax-url="/components/catalog.detail/buy.json" )
            span.i-show Купить
            span В корзине
          
        .b-catalog-element__subscribe
          a.btn.btn-default.btn-size-S( href="#" data-toggle="modal" data-target="#subscribeModal" data-ajax-url="/components/catalog.collection/subscribe.html?somedata=value" ) Подписаться
          
      hr.i-size-S
          
      .b-catalog-element__props
        div Материал трикотаж
        .catalogElementProperty1 Артикул <span>177-79-05</span>
        .catalogElementProperty2 Код <span>89919381234</span>
      .b-catalog-element__num
        span.i-1 В наличии <span>34</span> шт.
        span.i-0 Нет в наличии
        
      hr.i-size-S
          
      .b-catalog-element__propList-block
          
      hr.i-size-S
        
  div(class='b-catalog-element__data' data-actual-item='378' data-prop-list='[{&quot;type&quot;:&quot;color&quot;,&quot;code&quot;:&quot;color_ref&quot;,&quot;name&quot;:&quot;Цвет&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;sizes_shoes&quot;,&quot;name&quot;:&quot;Размеры обуви&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;sizes_clothes&quot;,&quot;name&quot;:&quot;Размеры одежды &quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;lenght&quot;,&quot;name&quot;:&quot;Длина&quot;},{&quot;type&quot;:&quot;list&quot;,&quot;code&quot;:&quot;weight&quot;,&quot;name&quot;:&quot;Ширина&quot;},{}]' data-category='Мужчинам/Рубашки' data-brand='')
      div(data-id='378' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='42' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/7f8/570_570_1/7f892cebb1930aa85651a4af84fa6341.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/7f8/7f892cebb1930aa85651a4af84fa6341.jpg' data-available='Y' data-subscribe='N' data-num='10' data-num-type='N' data-num-num='10' data-incart='N')
      div(data-id='379' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='44' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/09a/570_570_1/09a370d108fb1768a6be74cd518dea2a.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/09a/09a370d108fb1768a6be74cd518dea2a.jpg' data-available='Y' data-subscribe='N' data-num='1' data-num-type='N' data-num-num='1' data-incart='N')
      div(data-id='380' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='46' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/349/570_570_1/34990e865858ac717e7110e1704bc4bc.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/349/34990e865858ac717e7110e1704bc4bc.jpg' data-available='Y' data-subscribe='N' data-num='1' data-num-type='N' data-num-num='1' data-incart='N')
      div(data-id='381' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='48' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/67b/570_570_1/67badabcc2b2ec99fdc46fb6c1a2fa8f.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/67b/67badabcc2b2ec99fdc46fb6c1a2fa8f.jpg' data-available='Y' data-subscribe='N' data-num='0' data-num-type='N' data-num-num='0' data-incart='Y')
      div(data-id='382' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='50' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/8a4/570_570_1/8a4606dfd2e4c7af6d310cc28a0bf254.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/8a4/8a4606dfd2e4c7af6d310cc28a0bf254.jpg' data-available='Y' data-subscribe='N' data-num='1' data-num-type='N' data-num-num='1' data-incart='N')
      div(data-id='374' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='48' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/33c/570_570_1/33cfc685c6e8025d1b29a522be06630b.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/33c/33cfc685c6e8025d1b29a522be06630b.jpg' data-available='Y' data-subscribe='N' data-num='2' data-num-type='N' data-num-num='2' data-incart='N')
      div(data-id='375' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='50' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/11d/570_570_1/11d2f40983193687c9d11727807bb309.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/11d/11d2f40983193687c9d11727807bb309.jpg' data-available='Y' data-subscribe='N' data-num='2' data-num-type='N' data-num-num='2' data-incart='N')
      div(data-id='376' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='52' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/304/570_570_1/30446ffaf562424007358e110a9cebe3.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/304/30446ffaf562424007358e110a9cebe3.jpg' data-available='Y' data-subscribe='N' data-num='2' data-num-type='N' data-num-num='2' data-incart='N')
      div(data-id='377' data-color-color_ref='http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg' data-list-sizes_shoes='' data-list-sizes_clothes='54' data-list-lenght='' data-list-weight='' data-price='30&nbsp;500 руб.' data-cur='RUB' data-photo='http://seller-assembly170.2px.ru/upload/resize_cache/iblock/e4f/570_570_1/e4f437dd6615b26af84c9d5d82af5c48.jpg' data-big-photo='http://seller-assembly170.2px.ru/upload/iblock/e4f/e4f437dd6615b26af84c9d5d82af5c48.jpg' data-available='Y' data-subscribe='N' data-num='2' data-num-type='N' data-num-num='2' data-incart='N')

