.bj-group-menu.bj-side-block
  .bj-hidden
    .h3.bj-hidden-link Мужчинам
    menu.bj-hidden__hidden
      li
        a(href='/catalog/kurtki/')
          | Куртки
      li
        a(href='/catalog/shoes/')
          | Обувь
      li
        a(href='/catalog/bryuki/')
          | Брюки
  .bj-hidden
    .h3.bj-hidden-link Женщинам
    menu.bj-hidden__hidden
      li
        a(href='/catalog/zhenskoe_belje/')
          | Белье
      li
        a(href='/catalog/w-bryuki/')
          | Брюки
      li
        a(href='/catalog/dzhinsy/')
          | Деним
      li
        a(href='/catalog/zhenskaya_obuv/')
          | Обувь
      li
        a(href='/catalog/palto/')
          | Пальто
      li
        a(href='/catalog/rubashki/')
          | Рубашки
      li
        a(href='/catalog/accessories/')
          | Аксессуары
  .bj-hidden
    .h3.bj-hidden-link Девочкам
    menu.bj-hidden__hidden
      li
        a(href='/catalog/pukhoviki/')
          | Куртки и пуховики
      li
        a(href='/catalog/platya/')
          | Платья
      li
        a(href='/catalog/futbolki-devochkam/')
          | Футболки
      li
        a(href='/catalog/shorty/')
          | Шорты
  .bj-hidden
    .h3.bj-hidden-link Мальчикам
    menu.bj-hidden__hidden
      li
        a(href='/catalog/kurtki_malchikam/')
          | Куртки
      li
        a(href='/catalog/svitery/')
          | Свитеры
      li
        a(href='/catalog/futbolki/')
          | Футболки