#buyCatalogElementPopup
  #buyCatalogElementPopupOpaco
  #buyCatalogElementPopupWindow
    .b-catalog-element-popup__close
    .b-catalog-element-popup__body Товар добавлен в корзину, <a href="">оформить заказ</a>.

#subscribeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='subscribeLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h2#subscribeLabel.modal-title.text-center Подписаться