@import '../../styl/component-include.styl'

.b-catalog-section
  @media( max-width 767px )
    h1
      margin-bottom 0
      
#buyCatalogElementPopup
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display none
  z-index 1000
  
  &.i-show
    display block
  
  &Opaco
    background-color rgba( 255, 255, 255, .5 )
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0
    transition( opacity .3s ease )
    z-index 1001
    
    #buyCatalogElementPopup.i-animate &
      opacity 1
    
  &Window
    position absolute
    top calc( 50% - 25px )
    left calc( 50% - 300px )
    background-color blue
    width 600px
    padding 25px 25px
    transition( all .3s ease )
    transform( scale( .9 ))
    opacity 0
    z-index 1002
    
    #buyCatalogElementPopup.i-animate &
      opacity 1
      transform( scale(1))
    
    a
      color #fff
      text-decoration underline
      white-space nowrap
      
    @media( max-width 767px )
      width 300px
      top calc( 50% - 40px )
      left calc( 50% - 150px )
      height auto
    
  .b-catalog-element-popup__close
    position absolute
    top 10px
    right 10px
    width 20px
    height 20px
    cursor pointer
    z-index 1
    
    &:before
      content ''
      display block
      border-right 1px solid #fff
      position absolute
      top 0
      left 10px
      transform( rotate( 45deg))
      height 100%
      z-index 1
    
    &:after
      content ''
      display block
      border-right 1px solid #fff
      position absolute
      top 0
      left 10px
      transform( rotate( -45deg))
      height 100%
      z-index 1
    
  .b-catalog-element-popup__body
    color #fff
    line-height normal

.b-catalog-collection
  text-align left

.b-catalog-element
  padding-bottom 20px
  background-color #fff
  position relative
  
  &:hover
  
    @media( min-width 768px )
      box-shadow( 0 0 20px rgba( 0,0,0,.05 ))
    
    .b-catalog-element__img-hover
      opacity 1
      
    .b-catalog-element__button,
    .b-catalog-element__subscribe
      overflow visible
      
      .btn
        opacity 1
        
      span
        margin 0
      
    .b-catalog-element__colors-block
      visibility visible
      opacity 1
      
  &.i-hover
    
    @media( min-width 768px )
      .b-catalog-element__bottom
        opacity 1
        top calc(100% - 60px)
        
  &__props-icons
    position absolute
    top 10px
    left 10px
    z-index 1

  &__img
    padding-top 130%
    background-repeat no-repeat
    background-position center
    background-size contain
    position relative
    margin-bottom 10px
    
    &-hover
      display block
      position absolute
      top 0
      left 0
      width 100%
      padding-top 130%
      background-repeat no-repeat
      background-position center
      background-size contain
      background-color #fff
      opacity 0
      transition( opacity 0.5s ease )
      
  &__fotorama
    
    &:not( .fotorama ) > div
      display none
      
      &:first-child
        display block
  
    &-img
      display block
      padding-top 130%
      background-repeat no-repeat
      background-position center
      background-size cover
      position relative
      margin-bottom 10px
      
      a&:hover
        opacity 1
      
    .fotorama__arr
      display none !important
      
  &__title
    min-height 60px
    display flex
    align-items center
    justify-content center
    text-align center
    padding 0 20px
    
  &__bottom
    position absolute
    top 60%
    left 0
    width 100%
    z-index 10
    background-color #fff
    box-shadow( 0 18px 20px rgba( 0,0,0,.05 ))
    padding-bottom 20px
    opacity 0
    transition( all 0.5s ease )
    display none
    
    .b-catalog-element:hover & .b-catalog-element__price
      opacity 1
      
    @media( max-width 767px )
      display none !important
    
  &__price
    font-size 13.5pt
    font-weight 400
    transition( all 0.5s ease )
    padding-right 20px
    padding-left 20px
    width 100%
    text-align center
    
    @media( max-width 991px )
      padding-left 15px
      
    @media( min-width 768px )
    
      .b-catalog-element:hover &
        opacity 0
        
    &.i-discount
      color #ff3333
        
      span
        display inline-block
        vertical-align middle
        margin 0 auto
      
      s
        color #000
        text-decoration line-through
        font-size 9pt
        display block
    
  &__button,
  &__subscribe
    clear both
    padding 10px 20px 0
    text-align center
    
    .btn
      opacity 0
      transition( all 0.5s ease )
        
      span
        display none
        
        &.i-show
          display inline-block
    
    @media( max-width 991px )
      display none !important
        
  &__colors-block
    text-align left
    padding 9px 20px 0
    visibility hidden
    opacity 0
    transition( opacity .3s ease .3s )
    
  &__colors-item
    display inline-block
    vertical-align top
    width 17px
    height 17px
    border-radius 51%
    margin 0 14px 7px 0
    cursor pointer
    transition( transform 0.3s ease )
    text-align center
    background-repeat no-repeat
    background-position center
    background-size cover
    
    &.i-white
      border 1px solid #eee
    
    &:hover
      transform scale( 1.3 )
      
    &.i-disabled
      opacity 0.5
      
    span
      display none
      width 10px
      height 5px
      margin-top 4px
      border-left 1px solid #fff
      border-bottom 1px solid #fff
      transform( rotate(-45deg) )
      
    &.i-white
      
      span
        border-color #ddd
      
    &.i-active
      transform scale( 1.3 )
      
      span
        display inline-block
        vertical-align top
    
  &__sizes-block
    display flex
    justify-content left
    flex-wrap wrap
    padding 0 20px
    
  &__sizes-item
    font-size 9pt
    min-width 14px
    display inline-block
    vertical-align top
    cursor pointer
    text-align center
    border-bottom 2px solid transparent
    padding-bottom 3px
    margin 0 10px 9px 0
    
    &.i-active
      color #2f3154
      border-bottom 2px solid #2f3154
      
    &.i-disabled,
    &.i-subscribe
      opacity 0.5
      
  &__props,
  &__num
    font-size 7pt
    line-height 18px
    padding 0 20px
    
  .b-product-item-list-col-1 &
    
    &__fotorama-img
      padding-top 75%
      background-size contain
      
  &__propList-block
    padding 0 20px
  
    h6
      font-size 7pt
      line-height 18px
      
.b-catalog-collection .col-sm-2 .col-xs-5.b-catalog-element__button,
.b-catalog-collection .col-sm-6 .col-sm-4 .col-xs-5.b-catalog-element__button,
.b-catalog-collection .col-sm-2 .col-xs-5.b-catalog-element__subscribe,
.b-catalog-collection .col-sm-6 .col-sm-4 .col-xs-5.b-catalog-element__subscribe
  width 100% !important
  position relative
  text-align left
  padding-left 35px
  margin-top 15px
  
.b-catalog-collection
  
  .col-sm-2,
  .col-sm-6 .col-sm-4,
  .col-sm-9 & .col-sm-3,
  .col-sm-9 & .col-sm-6 .col-sm-6
    
    .b-catalog-element__bottom,
    .b-catalog-element__button,
    .b-catalog-element__subscribe
      display none !important
      
    .b-catalog-element__price
      padding-right 15px
      padding-left 15px
      
    & .b-catalog-element:hover .b-catalog-element__price
      opacity 1
      
    @media( min-width 768px )
      
      .b-catalog-element__title
        font-size 9pt
        line-height 1.4
        
      .b-catalog-element__price
        font-size 10pt
  
.b-product-item-line-card

  .b-catalog-element
    padding-bottom 0
    border 1px solid #f5f5f5
    
    @media( max-width 767px )
      border 0
    
    &:after
      content ''
      display block
      clear both
      
    @media( max-width 767px )
      &:hover
        box-shadow none
    
    &__top
      float left
      width 45%
      padding-right 15px
      border-right 1px solid #f5f5f5
      
      @media( max-width 767px )
        float none
        width 100%
        padding-right 0
        border-right 0
    
    &__right
      float left
      width 55%
      padding 10px 70px
      border-left 1px solid #f5f5f5
      margin-left -1px
      
      @media( max-width 767px )
        float none
        width 100%
        padding 0
        border-left 0
        margin-left 0
      
    &__button,
    &__subscribe
      text-align left
      padding 0
    
      @media( min-width 768px )
        
        .btn
          opacity 1
      
      @media( max-width 767px )
        display none
        
    &__bottom
      
      @media( min-width 768px )
        box-shadow none
        position static
        opacity 1
        margin-top 20px
        display block !important
      
    &__title
      padding 20px 0 16px
      text-align left
      display block
      
      @media( max-width 767px )
        text-align center
        
    &__colors-block
      opacity 1
      visibility visible
      padding-right 0
      padding-left 0
       
    &__colors-block,
    &__sizes-block,
    &__num,
    &__props
      padding-right 0
      padding-left 0
      opacity 0
      transition( opacity .5s ease )
      
    &:hover .b-catalog-element
      
      &__sizes-block,
      &__num,
      &__props
        opacity 1
      
    &__price
      display none
      
      @media( max-width 767px )
        display block
      
    &__bottom .b-catalog-element__price
      display block
      text-align left
      padding-right 0
      padding-left 0
      margin-bottom 20px

.b-product-item-big-card

  .b-catalog-element
    
    &:after
      content ''
      display block
      clear both
    
    &__top
      float left
      width 33.3%
      
      @media( max-width 767px )
        width 100%
        float none
    
    &__right
      float left
      width 66.7%
      
      @media( max-width 767px )
        width 100%
        float none
      
    &__button,
    &__subscribe
      
      @media( max-width 767px )
        display none
        
    &__bottom
      position static
      transform( translateX(-100px))
      box-shadow none
      background transparent
      margin-top 20px
      
      @media( max-width 767px )
        display none
    
    &__title
      
      @media( min-width 768px )
        justify-content left
        margin-top 10px
      
    &.i-hover
    
      .b-catalog-element__bottom
        transform( translateX(0))
        
.bj-sorting
  font-size .85rem
  
  .text-muted
    float left
    margin-right 15px
    
  .dropdown
    float left
    
    a:hover
      text-decoration none
      
    .caret
      margin-left 5px
    
  &:after
    content ''
    display block
    clear both
    
  .dropdown-menu
    border none
    font-size .85rem
    left -20px
    min-width calc(100% + 20px)
    
    >li>a:focus,
    >li>a:hover
      background #f5f5f5
  
.modal

  .b-buy-modal-text
    padding-top 50px
    
    h2
      font-size 21pt
      margin 0 0 45px
  
  .b-catalog-element__colors-item
    display inline-block
    vertical-align top
    width 24px
    height 24px
    border-radius 51%
    margin 0 9px 9px
    cursor pointer
    text-align center

#subscribeModal

  p
    font-size 9pt
    margin-bottom 20px
    
    &:last-child
      margin-bottom 0
    
  .modal-body
    padding 30px 60px
    line-height 14px
    transition( height 0.5s ease )
    
    @media( max-width 767px )
      padding 20px 40px
    
  label
    margin-bottom 6px
    color #333
    vertical-align top
    font-size 8pt
    
  .form-control
    height 29pt
    padding 6px 10px
    font-size 10.5pt
    line-height 1.72857143
    
  textarea.form-control
    height 83px
    
  .form-group
    margin-bottom 21px
    opacity 0
    
    &:last-child
      margin-bottom 11px
    
  &.in .form-group
    animation form-opacity .3s
    animation-fill-mode forwards
  
    &:nth-of-type(2)
      animation-delay .15s
  
    &:nth-of-type(3)
      animation-delay .3s
  
    &:nth-of-type(4)
      animation-delay .453s
  
    &:nth-of-type(5)
      animation-delay .6s
      
  .btn
    line-height 1.72857143
    padding 6px 14px
    min-width 141px
    
    &.i-gray
      background-color #ececec
      border-color #ececec
      display none
      
      &:hover
        color inherit
        
.b-prop
  background-color #fff
  line-height 20px
  height 20px
  padding 0 5px
  font-size 7pt
  text-transform uppercase
  margin 0 3px 3px 0
  display inline-block
  border-width 1px
  border-style solid
  
  @media( max-width 767px )
    margin 0 4px 3px
        
@keyframes form-opacity
  from
    opacity 0
  to
    opacity 1
    
//presents block on the cart page
.b-catalog-collection[ data-entity="sale-products-gift-container" ]

  @media ( max-width: 767px )
    
    .b-catalog-element__bottom
      display block !important
      box-shadow none
      position static
      opacity 1
      
      hr,
      .b-catalog-element__price
        display none
        
    .b-catalog-element__button
      display block !important
        
    .b-catalog-element__button .btn
      opacity 1
      
    .b-catalog-element__propList-block,
    .b-catalog-element__props
      display none