// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" )
  
  .row
  
    .col-sm-6
      include element2-one-pic
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-6
      include element3-one-pic

// end /components/catalog.collection/