// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" )
  
  .row
  
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
  
  .row
  
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
  
  .row
  
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element3
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
          
// end /components/catalog.collection/