// start /components/catalog.collection/

link( rel="stylesheet", href="/components/catalog.collection/style.css" )
script( src="/components/catalog.collection/script.js" )

.b-catalog-collection
  
  .row
  
    .col-sm-3
      include element
      
    .col-sm-3
      include element1
      
    .col-sm-3
      include element
      
    .col-sm-3
      include element
      
  hr.i-size-L

// end /components/catalog.collection/