// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" )
  
  .row
  
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element1
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element2
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element3

// end /components/catalog.collection/