// start /components/catalog.collection/

.b-catalog-collection( itemscope itemtype="http://schema.org/SomeProducts" data-entity="sale-products-gift-container" )
  
  .row
  
    .col-sm-3.col-xs-6
      include element-gift
  
    .col-sm-3.col-xs-6
      include element-gift
      
    hr.visible-xs-block.clearfix
  
    .col-sm-3.col-xs-6
      include element-gift
  
    .col-sm-3.col-xs-6
      include element-gift
      
  hr.clearfix
  
  .row
  
    .col-sm-3.col-xs-6
      include element-gift
  
    .col-sm-3.col-xs-6
      include element-gift
      
    hr.visible-xs-block.clearfix
  
    .col-sm-3.col-xs-6
      include element-gift
  
    .col-sm-3.col-xs-6
      include element-gift
      
// end /components/catalog.collection/