
<div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
    <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
  <div class="b-h6"><a href="" itemprop="name">ТРЦ Тройка</a></div><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
  <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
  <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
</div>