
<!-- start /components/shops-map/-->
<style>.b-ph-block{position:relative}.b-ph-row{padding-top:20px;transition:opacity .5s ease;-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-ms-transition:opacity .5s ease;margin:0 -15px;display:flex;justify-content:space-around;}@media (max-width:600px){.b-ph-row{margin:0;display:block;padding-top:0}}.b-ph-col-sm-3{width:calc(100% / 3 - 30px);margin:0 15px;}@media (max-width:600px){.b-ph-col-sm-3{width:100%;margin:0 0 40px}}.b-ph-content{position:absolute;top:0;left:0;width:100%;transition:opacity .5s ease;-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-ms-transition:opacity .5s ease;opacity:0;-webkit-opacity:0;-moz-opacity:0;z-index:0}.b-ph-img{background-color:#f2f2f2;padding-top:80%;margin-bottom:20px}.b-ph-text div{height:7px;background-color:#f2f2f2;margin-bottom:15px}.b-ph-text div:last-child{width:70%}</style>
<link rel="stylesheet" href="/components/shops-map/style.css"/>
<script src="/components/shops-map/script.js"></script>
<div class="container-fluid">
  <div class="b-ph-block">
    <div class="b-ph">
      <div class="b-ph-row">
        <div class="b-ph-col-sm-3">
          <div class="b-ph-img"></div>
          <div class="b-ph-text">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="b-ph-col-sm-3">
          <div class="b-ph-img"></div>
          <div class="b-ph-text">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="b-ph-col-sm-3">
          <div class="b-ph-img"></div>
          <div class="b-ph-text">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="b-ph-col-sm-3">
          <div class="b-ph-img"></div>
          <div class="b-ph-text">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-ph-content">
      <div class="b-shops-map">
        <h2>Россия</h2>
        <h3>Москва</h3>
        <hr/>
        <div class="row">
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
        </div>
        <hr class="clearfix visible-xs-block i-size-L"/>
        <div class="row">
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
        </div>
        <hr class="i-line i-size-L"/>
        <h3>Санкт-Петербург</h3>
        <div class="row">
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
        </div>
        <hr class="clearfix visible-xs-block i-size-L"/>
        <div class="row">
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
          <hr class="clearfix visible-xs-block i-size-L"/>
          <div class="col-sm-3">
            <div itemscope="itemscope" itemtype="http://schema.org/Store" class="b-shops-card"><a href="" class="b-shops-card__img"><img data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image"/>
                <div style="background-image: url( '/template/images/preloader.png' );" class="b-shops-card-preloader"></div></a>
              <h6><b><a href="" itemprop="name">ТРЦ Тройка</a></b></h6><span>Метро «Красносельская»</span><br/><span itemprop="telephone" content="+89917109601">8-991-710-96-01</span><br/><span itemprop="address">Павильон 124</span><br/>
              <time itemprop="openingHours" datetime="18:00-20:00">С 18:00 до 20:00</time>
              <p>Флагманский магазин Seller находится недалеко от центрального выхода...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/shops-map/-->