footer.b-footer
  .b-container
    .b-row
      .b-col-sm-4
      .b-col-sm-4
      .b-col-sm-4
      

link( rel="stylesheet" href="/template/template_styles.css" )
link( rel="stylesheet" href="/template/colors.css" )

include ../../modules/preloader/include