section.bj-page-header__dropdown
  .i-relative
      article
        .container-fluid
          .bj-page-header__dropdown-hr
        
          .row
            .col-md-9.col-sm-12
              
              .row
                .col-md-4.col-sm-4
                  h3
                    a(href='/catalog/muzhchinam/') Мужчинам
                    
                  menu
                    li
                      a(href='/catalog/kurtki/') Куртки
                    li
                      a(href='/catalog/shoes/') Обувь
                    li
                      a(href='/catalog/bryuki/') Брюки
                    li
                      a(href='/catalog/rubashki-muzh/') Рубашки
                      
                .col-md-4.col-sm-4
                
                  h3
                    a(href='/catalog/zhenshchinam/') Женщинам

                  menu
                    li
                      a(href='/catalog/zhenskoe_belje/') Белье
                    li
                      a(href='/catalog/w-bryuki/') Брюки
                    li
                      a(href='/catalog/dzhinsy/') Деним
                    li
                      a(href='/catalog/zhenskaya_obuv/') Обувь
                    li
                      a(href='/catalog/palto/') Пальто
                    li
                      a(href='/catalog/platya_women/') Платья
                    li
                      a(href='/catalog/accessories/') Аксессуары
                      
                .col-md-4.col-sm-4
                  h3
                    a(href='/catalog/devochkam/') Девочкам

                  menu
                    li
                      a(href='/catalog/platya/') Платья
                    li
                      a(href='/catalog/futbolki-devochkam/') Футболки
                    li
                      a(href='/catalog/shorty/') Шорты
                      
              .row
                  
                .col-md-4.col-sm-4
                  h3
                    a(href='/catalog/malchikam/') Мальчикам

                  menu
                    li
                      a(href='/catalog/kurtki_malchikam/') Куртки
                    li
                      a(href='/catalog/svitery/') Свитеры
                    li
                      a(href='/catalog/futbolki/') Футболки
              
            .col-md-3.col-sm-12
              .bj-page-header__dropdown-b.hidden-sm.hidden-xs
                  a( href="" )
                    img( src="/template/images/banner.jpg" )
                           
          div
            a(href='/brand/')
              strong Бренды 
              |  (Все 8)
          |             
          hr
          |             
          .row
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/alexander-mcqueen/')
                    img.media-object(alt='', src='/template/images/brand1.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/alexander-mcqueen/') Alexander McQueen
            |                 
            hr.visible-xs-block.clearfix
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/benetton/')
                    img.media-object(alt='', src='/template/images/brand2.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/benetton/') Benetton
            |                 
            .visible-xs-block.visible-sm-block.clearfix
            |                 
            hr.visible-xs-block.visible-sm-block
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/adidas/')
                    img.media-object(alt='', src='/template/images/brand3.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/adidas/') Adidas
            |                 
            hr.visible-xs-block.clearfix
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/burberry/')
                    img.media-object(alt='', src='/template/images/brand4.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/burberry/') Burberry
          |             
          hr
          |             
          .row
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/chanel/')
                    img.media-object(alt='', src='/template/images/brand5.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/chanel/') Chanel
            |                 
            hr.visible-xs-block.clearfix
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/christian-louboutin/')
                    img.media-object(alt='', src='/template/images/brand6.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/christian-louboutin/') Christian Louboutin
            |                 
            .visible-xs-block.visible-sm-block.clearfix
            |                 
            hr.visible-xs-block.visible-sm-block
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/diesel/')
                    img.media-object(alt='', src='/template/images/brand7.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/diesel/') Diesel
            |                 
            hr.visible-xs-block.clearfix
            |                 
            .col-md-3.col-sm-6
              .media
                .media-left.media-middle
                  a(href='/brand/dior/')
                    img.media-object(alt='', src='/template/images/brand8.png')
                |                         
                .media-body.media-middle
                  a(href='/brand/dior/') Dior
          |             
          hr
          |             
          hr.i-size-L
          |             
          button.up