meta( property="og:title" content="Верблюжье пальто" )
meta( property="og:type" content="article" )
meta( property="og:url" content="http://seller-markup.2px.ru/catalog/detail/?product_id=tp4" )
meta( property="og:image" content="http://seller-markup.2px.ru/upload/catalog.detail/10.jpg" )
meta( property="og:site_name" content="http://seller-markup.2px.ru" )
meta( property="og:description" content="Элегантное, слегка укороченное однобортное пальто из верблюжьей шерсти натурального цвета. Натуральные экологичные материалы, классическая модель, идеально сочетающаяся со строгим офисным стилем и деловым casual." )