script
  | window.ymID = 65634046;
script( src="/template/libs/jquery-1.11.1.min.js" )
script( src="/template/libs/materialize-0.100.0.min.js" )
script( src="/template/script.js" )
script( src="/template/libs/bootstrap-3.3.7.js" )