link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" )
link( rel="stylesheet" href="http://seller.bejet.ru/bitrix/templates/bejet_seller/css/materialize.min.css" )
link( rel="stylesheet" href="/template/template_styles.css" )
link( rel="stylesheet" href="/template/colors.css" )
link( href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic' rel='stylesheet' )
link( href='http://fonts.googleapis.com/css?family=Roboto+Slab:400&subset=latin,cyrillic' rel='stylesheet' )