.b-comment
  .b-comment__props.text-muted
    span Максим
    span 12.07.2017 16:28:42
  .b-comment__text Платье очень понравилось. Ношу 42-44 платье брала 46р, хорошо обтянуло..как я и люблю. Все достоинства только подчеркнуло. Параметры 85.65.96