extends ../../layouts/main.jade

block title
  title Auth form | Seller

block content
   
  .bj-page-content.container-fluid
  
    ol.breadcrumb
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Авторизация