extends ../../layouts/main.jade

block title
  title Auth form | Seller

block content
   
  .container-fluid
    
    hr.visible-xs-block.i-size-L
  
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Авторизация
        
    hr.i-size-L
    
    a( href="http://seller-assembly.2px.ru/auth/") http://seller-assembly.2px.ru/auth/
        
    p Стили на сервере - /bitrix/templates/bejet_seller-1.6.0/components/bitrix/system.auth.authorize/.default/style.css
    p Стили в маркапе - /components/system.auth.authorize/style.css
    p Стили элементов формы подгружаются из template_styles.css
