.bj-lookbook__i( itemscope itemtype ="http://schema.org/Offer" )
  a.bj-lookbook__img(href='/lookbook/gorodskoy-stil/dzhinsy-s-tuflyami/')
    img.i-show( data-original='/upload/lookbook/1.jpg' itemprop="image" alt="" src="/" )
    span.bj-lookbook__cover
      span.b-h2( itemprop="name" ) Джинсы с туфлями
      span.bj-lookbook__info
        span 4 вещи
        span.text-large( itemprop="price" ) 17 140 руб.
        span.btn.btn-default Посмотреть