// start /components/lookbook/

link( rel="stylesheet", href="/components/lookbook/style.css" )
script( src="/components/lookbook/script.js" )

.bj-lookbook
        
  .row
    
    .col-sm-10.col-sm-offset-1
    
      .row.b-lookbook-row
    
        .b-lookbook-col
          include look
    
        .b-lookbook-col
          include look2
      
        .b-lookbook-col
          include look3
    
      .row.b-lookbook-row
  
        .b-lookbook-col
          include look
    
      .row.b-lookbook-row
    
        .b-lookbook-col
          include look2
    
        .b-lookbook-col
          include look
    
        .b-lookbook-col
          include look3
      
      //-
        .row.b-lookbook-row
      
          .b-lookbook-col
            include look
      
          .b-lookbook-col
            include look
      
          .b-lookbook-col
            include look
      
          .b-lookbook-col
            include look

// end /components/lookbook/