#oneClick

  p
    font-size 9pt
    margin-bottom 20px
    
    &:last-child
      margin-bottom 0
    
  .modal-body
    padding 30px 60px
    line-height 14px
    transition( height 0.5s ease )
    
    @media( max-width 767px )
      padding 20px 40px
    
  label
    margin-bottom 6px
    color #333
    vertical-align top
    font-size 8pt
    
  .form-control
    height 29pt
    padding 6px 10px
    font-size 10.5pt
    line-height 1.72857143
    
  textarea.form-control
    height 83px
    
  .form-group
    margin-bottom 21px
    opacity 0
    
    &:last-child
      margin-bottom 11px
    
  &.in .form-group
    animation form-opacity .3s
    animation-fill-mode forwards
  
    &:nth-of-type(2)
      animation-delay .15s
  
    &:nth-of-type(3)
      animation-delay .3s
  
    &:nth-of-type(4)
      animation-delay .453s
  
    &:nth-of-type(5)
      animation-delay .6s
      
  .btn
    line-height 1.72857143
    padding 6px 14px
    min-width 141px
    
    &.i-gray
      background-color #ececec
      border-color #ececec
      display none
      
      &:hover
        color inherit