extends ../../layouts/main.jade

block title
  title Auth form | Seller

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
  
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Авторизация
        
    hr.i-size-L
    
    a( href="http://seller-assembly.2px.ru/catalog/kurtki/jil_sander_legkoe_palto/?reset=y&product_id=286") http://seller-assembly.2px.ru/catalog/kurtki/jil_sander_legkoe_palto/?reset=y&product_id=286
        
    p Стили на сервере - /bitrix/templates/bejet_seller-1.6.0/components/bitrix/catalog/.default/bitrix/catalog.element/multiple-props/style.css
    p Стили в маркапе - /components/catalog.detail-props/style.css
    p Стили элементов формы подгружаются из /forms/catalog-detail-buy/form-elements-style.styl