// start /components/video/

link( rel="stylesheet", href="/components/video/style.css" )
script( src="/components/video/script.js" )

.b-video-element.i-fade-loop

  video( autobuffer="" playsinline="" webkit-playsinline="" poster="/upload/video-banner.png" preload="metadata" muted="" )
    source(src="/upload/video-banner.mp4" type="video/mp4")
    p To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
    
  .b-video-element__shutter
    .b-video-element__container
      b Канкун — море, пальмы и песчаные пляжи

// end /components/video/