// start /components/video/

link( rel="stylesheet", href="/components/video/style.css" )
script( src="/components/video/script.js" )
  
.b-video-banner
  video( autoplay="" autobuffer="" playsinline="" webkit-playsinline="" poster="/upload/video-banner.png" preload="metadata" muted="" loop="" )
    source(src="/upload/video-banner.mp4" type="video/mp4")
    p
      | To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
  .b-impression-block__container(style="background: rgba(0,0,0,.2);")
    .container(style="opacity: 1;")
      h2.b-h1 Канкун — мечта офисного планктона из Штатов
      p
        br
  
// end /components/video/