
<div class="b-sizes-menu">
  <h2>Таблица размеров</h2>
  <p>Как выбрать одежду своего размера?</p>
  <p>Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.</p>
  <hr class="i-size-L"/>
  <div class="b-sizes-menu__table">
    <div class="b-sizes-menu__th">
      <table>
        <tbody>
          <tr>
            <th>Обхват груди (см)</th>
          </tr>
          <tr>
            <th>Обхват талии (см)</th>
          </tr>
          <tr>
            <th>Обхват бедер (см)</th>
          </tr>
          <tr>
            <th>Российский размер (RUS)</th>
          </tr>
          <tr>
            <th>Европа / Германия (EUR / GER)</th>
          </tr>
          <tr>
            <th>Франция (FR)</th>
          </tr>
          <tr>
            <th>Италия (IT)</th>
          </tr>
          <tr>
            <th>США (USA)</th>
          </tr>
          <tr>
            <th>Великобритания (UK)</th>
          </tr>
          <tr>
            <th>Международный (INT)</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="b-sizes-menu__td">
      <div class="b-sizes-menu__scroll">
        <table>
          <tbody>
            <tr>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
              <td>78-82</td>
            </tr>
            <tr>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
              <td>58-62</td>
            </tr>
            <tr>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
              <td>84-108</td>
            </tr>
            <tr>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
              <td>40</td>
            </tr>
            <tr>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
              <td>32</td>
            </tr>
            <tr>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
              <td>34</td>
            </tr>
            <tr>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
              <td>36</td>
            </tr>
            <tr>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
            </tr>
            <tr>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
              <td>XXS/XS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>