@import '../../styl/component-include.styl'

.b-file-block

  .col-xs-4
    text-align center
  
  .col-xs-8
    padding-top 10px
    
    div
      color #666666
      font-size 8pt
      margin-top 7px