.bj-look    

  &.b-ph-block
    position relative
  
  .b-ph
    display flex
    justify-content space-between
  
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0
      
    &__image
      background-color $placeholder-color
      padding-top 50%
      margin-bottom 20px
      width calc( 100% / 12 * 7 - 15px )
    
    &__text
      width calc( 100% / 12 * 5 - 15px )
    
      div
        height 7px
        background-color $placeholder-color
        margin-bottom 15px
        
        &:last-child
          width 70%