@import '../../styl/component-include.styl'

#circlePreloader
  display none

.spinner-black
  border-color #000
  
.spinner-white
  border-color #fff

.spinner-color1
  border-color violet
  
.preloader-wrapper.x-small
  width 16px
  height 16px
  
  .circle-clipper .circle
    border-width 2px