
<div id="buyCatalogElementPopup">
  <div id="buyCatalogElementPopupOpaco"></div>
  <div id="buyCatalogElementPopupWindow">
    <div class="b-catalog-element-popup__close"></div>
    <div class="b-catalog-element-popup__body">Товар добавлен в корзину, <a href="">оформить заказ</a>.</div>
  </div>
</div>
<div id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h2 id="subscribeLabel" class="modal-title text-center">Подписаться</h2>
      </div>
    </div>
  </div>
</div>