extends ../layouts/main.jade

block title
  title Actions page | Seller

block content

  .container-fluid
  
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Акции
        
    include ../components/actions/template