section#cartDropdown.bj-page-header__cart-dropdown( data-url="/template/cart-droprown-ajax.html" data-method="GET" )
  .i-relative
      article
        .container-fluid
          .bj-page-header__dropdown-hr
          .row
            .col-sm-9
              p  Последние добавленные товары
              .row
                .col-sm-4
                  .b-cart-dropdown__item
                    img( src="/upload/cart-dropdown.jpg" width="61" height="61" alt="" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
                .col-sm-4
                  .b-cart-dropdown__item
                    img( src="/upload/cart-dropdown.jpg" width="61" height="61" alt="" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
                .col-sm-4
                  .b-cart-dropdown__item
                    img( src="/upload/cart-dropdown.jpg" width="61" height="61" alt="" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
            .col-sm-3
              p.text-right В корзине 7 вещей на сумму 700 000 рублей
              a.btn.btn-default.btn-size-L.btn-100( href="/personal/cart/" ) В корзину