extends ./layouts/main.jade

block title
  title Main page | seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Seller
    
    h2 GUI
    ul
      li
        a( href="/gui/" ) Заголовки и текст
    
    h2 Каталог
    ul
      li
        a( href="/catalog/" ) Catalog
      li
        a( href="/catalog/index2.html" ) Catalog 2
      li
        a( href="/catalog/index3.html" ) Catalog 3
      li
        a( href="/catalog/detail/" ) Catalog detail
      li
        a( href="/catalog/detail-props/" ) Catalog detail with 4 props
        
    h2 Другие страницы
    ul
      li
        a( href="/lookbook/" ) Lookbook
      li
        a( href="/personal/cart/" ) Моя корзина
      li
        a( href="/personal/cart-compact/" ) Моя корзина (compact version)
      li
        a( href="/instagram/" ) Instagram
      li
        a( href="/shops/" ) Магазины
      li
        a( href="/shops/shop-detail/" ) Магазин детально
      li
        a( href="/actions/" ) Акции
        
    h2 Блоки
    ul
      li
        a( href="/blocks/catalogue-tabs/" ) Вкладки с товарами (components/catalogue-tabs/)
      li
        a( href="/blocks/banners/" ) Баннеры на главной
      li
        a( href="/blocks/top-banner/" ) Топ баннер
        
    h2 Шапки
    ul
      li
        a( href="/headers/1_6_0_0/" ) 1_6_0_0
      li
        a( href="/headers/1_6_0_1/" ) 1_6_0_1
      li
        a( href="/headers/1_6_0_2/" ) 1_6_0_2
      li
        a( href="/headers/1_6_0_3/" ) 1_6_0_3
      li
        a( href="/headers/icons/" ) Иконки
        
    h2 Формы
    ul
      li
        a( href="/forms/reg/" ) Регистрация
        