extends ../../layouts/main.jade

block title
  title Search result | seller
  
block header
  include ../../components/header_1_6_0_1/template

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
    
    ol.breadcrumb.hidden-xs
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Результаты поиска
        
  .container-fluid
    
    include ../../components/search.result/template
