.b-shops-card( itemscope itemtype="http://schema.org/Store" )
  a.b-shops-card__img( href="" )
    img( data-original="/upload/catalog.detail/14.jpg" alt="" itemprop="image" )
    .b-shops-card-preloader( style="background-image: url( '/template/images/preloader.png' );" )
  h6
    b
      a( href="" itemprop="name" ) ТРЦ Тройка
  span Метро «Красносельская»
  br
  span( itemprop="telephone" content="+89917109601" ) 8-991-710-96-01
  br
  span( itemprop="address" ) Павильон 124
  br
  time( itemprop="openingHours" datetime="18:00-20:00" ) С 18:00 до 20:00
  p Флагманский магазин Seller находится недалеко от центрального выхода...