@import '../../styl/component-include.styl'

.b-ph-block
  
  &.i-ph-animated
    
    .b-ph-content
      position static
      width auto
      opacity 1
      
    .b-ph
      position absolute
      top 0
      left 0
      opacity 0
      z-index -1

.b-shops-map
  text-align left
  
.b-shops-card
  background-color #fff
  padding 15px 15px 25px
  height 100%
  min-height 150px
  color #333
  font-size .95rem
  line-height 1.7
  
  &__img
    margin -15px -15px 25px -15px
    display block
    position relative
    min-height 100px
    
    img
      width 100%
      
  .b-h6
    font-size .95rem
    margin 0 0 10px
      
  p
    color #666666
    font-size .85rem
    line-height 1.3
    margin 16px 0 0
    
  &-preloader
    border-color transparent
    border-radius 0
    background-repeat no-repeat
    background-position center
    background-size cover
    width 60px
    height 60px
    margin-top -30px
    margin-left -30px
    position absolute
    left 50%
    top 50%
    transform-origin 50%
    animation preloader-spin 1s infinite linear
    box-sizing border-box
    z-index -1

@keyframes preloader-spin
  100%
    transform: rotate(360deg)