// start /components/shops-map/

//-link( rel="stylesheet", href="/components/shops-map/placeholder.css" )

style .b-ph-block{position:relative}.b-ph-row{padding-top:20px;transition:opacity .5s ease;-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-ms-transition:opacity .5s ease;margin:0 -15px;display:flex;justify-content:space-around;}@media (max-width:600px){.b-ph-row{margin:0;display:block;padding-top:0}}.b-ph-col-sm-3{width:calc(100% / 3 - 30px);margin:0 15px;}@media (max-width:600px){.b-ph-col-sm-3{width:100%;margin:0 0 40px}}.b-ph-content{position:absolute;top:0;left:0;width:100%;transition:opacity .5s ease;-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-ms-transition:opacity .5s ease;opacity:0;-webkit-opacity:0;-moz-opacity:0;z-index:0}.b-ph-img{background-color:#f2f2f2;padding-top:80%;margin-bottom:20px}.b-ph-text div{height:7px;background-color:#f2f2f2;margin-bottom:15px}.b-ph-text div:last-child{width:70%}

link( rel="stylesheet", href="/components/shops-map/style.css" )
script( src="/components/shops-map/script.js" )

.container-fluid

  .b-ph-block

    .b-ph
    
      .b-ph-row
        .b-ph-col-sm-3
          .b-ph-img
          .b-ph-text
            div
            div
            div
            div
            div
        .b-ph-col-sm-3
          .b-ph-img
          .b-ph-text
            div
            div
            div
            div
            div
        .b-ph-col-sm-3
          .b-ph-img
          .b-ph-text
            div
            div
            div
            div
            div
        .b-ph-col-sm-3
          .b-ph-img
          .b-ph-text
            div
            div
            div
            div
            div
        
    .b-ph-content

      .b-shops-map
      
        h2 Россия
        
        h3 Москва
        
        .row
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
        hr.clearfix.visible-xs-block.i-size-L
        
        .row
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
        hr.i-line.i-size-L
        
        h3 Санкт-Петербург
        
        .row
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
        hr.clearfix.visible-xs-block.i-size-L
        
        .row
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
            
          hr.clearfix.visible-xs-block.i-size-L
          
          .col-sm-3
            include ./shops-card
      
        include ../../modules/pagination/include
        
        hr.i-size-L

// end /components/shops-map/