extends ../../layouts/main.jade

block title
  title GUI H1-H6 | Seller

block content

  .container-fluid
    
    hr.visible-xs-block.i-size-L
    
    ol.breadcrumb.hidden-xs
      li
        a(href='/') Главная страница
      li
        span Заголовки h1-h6

  .container-fluid
  
    hr.i-size-L
    
    .row
    
      .col-sm-4
    
        h1 Заголовок h1
        .h1 Элемент с классом .h1
        hr
        h2 Заголовок h2
        .h2 Элемент с классом .h2
        hr
        h3 Заголовок h3
        .h3 Элемент с классом .h3
        hr
        h4 Заголовок h4
        .h4 Элемент с классом .h4
        hr
        h5 Заголовок h5
        .h5 Элемент с классом .h5
        hr
        h6 Заголовок h6
        .h6 Элемент с классом .h6
    
      hr.i-size-L.visible-xs-block
    
      .col-sm-4
    
        h1 Заголовок h1 <small>+ тэг small</small>
        .h1 Элемент с классом .h1 <small>+ тэг small</small>
        hr
        h2 Заголовок h2 <small>+ тэг small</small>
        .h2 Элемент с классом .h2 <small>+ тэг small</small>
        hr
        h3 Заголовок h3 <small>+ тэг small</small>
        .h3 Элемент с классом .h3 <small>+ тэг small</small>
        hr
        h4 Заголовок h4 <small>+ тэг small</small>
        .h4 Элемент с классом .h4 <small>+ тэг small</small>
        hr
        h5 Заголовок h5 <small>+ тэг small</small>
        .h5 Элемент с классом .h5 <small>+ тэг small</small>
        hr
        h6 Заголовок h6 <small>+ тэг small</small>
        .h6 Элемент с классом .h6 <small>+ тэг small</small>
    
      hr.i-size-L.visible-xs-block
    
      .col-sm-4
    
        h1
          a( href="" ) Заголовок h1 и ссылка
        .h1
          a( href="" ) Элемент с классом .h1 и ссылка
        hr
        h2
          a( href="" ) Заголовок h2 и ссылка
        .h2
          a( href="" ) Элемент с классом .h2 и ссылка
        hr
        h3
          a( href="" ) Заголовок h3 и ссылка
        .h3
          a( href="" ) Элемент с классом .h3 и ссылка
        hr
        h4
          a( href="" ) Заголовок h4 и ссылка
        .h4
          a( href="" ) Элемент с классом .h4 и ссылка
        hr
        h5
          a( href="" ) Заголовок h5 и ссылка
        .h5
          a( href="" ) Элемент с классом .h5 и ссылка
        hr
        h6
          a( href="" ) Заголовок h6 и ссылка
        .h6
          a( href="" ) Элемент с классом .h6 и ссылка
    
    hr.i-size-L
      
    .row
    
      .col-sm-8
    
        .b-h2 Элемент с классом .b-h2
        div
          h1 Заголовок h1 первый из элементов (:first-child)
        div
          h2 Заголовок h2 первый из элементов (:first-child)
        div
          h3 Заголовок h3 первый из элементов (:first-child)
        div
          h4 Заголовок h4 первый из элементов (:first-child)
        div
          h5 Заголовок h5 первый из элементов (:first-child)
        div
          h6 Заголовок h6 первый из элементов (:first-child)
          
