.b-tabs

  nav.b-tabs__nav
    
    .b-tabs__nav__top
      span Подробное описание
      svg( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.42 181.42" )
        defs
          style .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}
        line.cls-1( x1="4" y1="27.33" x2="176.64" y2="27.33" )
        line.cls-1( x1="4" y1="151.01" x2="176.64" y2="151.01" )
        line.cls-1( x1="4" y1="89.17" x2="176.64" y2="89.17" )
    
    .b-tabs__nav__menu
      svg( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.42 181.42" )
        defs
          style .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}
        polyline.cls-1( points="4 47.17 92.92 131.17 176.64 47.45" )
        
      .b-tabs__decor
      a(href="", data-tab="description").b-tabs__tab.i-active Подробное описание
      a(href="", data-tab="comments").b-tabs__tab Отзывы
      a(href="", data-tab="props").b-tabs__tab Характеристики
      a(href="", data-tab="video").b-tabs__tab Видео
      a(href="", data-tab="files").b-tabs__tab Файлы
    
  hr.i-size-M

  .b-tabs__i.i-active( data-tab="description" )
    
    .row
      .col-sm-8.col-sm-offset-2
      
        h2 Заголовок 2
        p Сабо от Crocs выполнены из полимера ColorLite™ белого цвета. Модель невероятно легкая и удобная благодаря полностью литой конструкции. Детали: эластичные вставки по бокам позволяют регулировать высоту подъема, плоская рифленая подошва контрастного цвета.
        
  .b-tabs__i( data-tab="comments" )
    
    .row
      .col-sm-8.col-sm-offset-2
        
        hr.i-size-S
        
        button.btn.btn-default.btn-size-M Добавить комментарий
        
        hr.i-size-M
        
        include ../comment/include
        
        hr.i-line.i-size-L
        
        include ../comment/include
        
        hr.i-line.i-size-L
        
        include ../comment/include
  
  .b-tabs__i( data-tab="props" )
    
    .row
      .col-sm-8.col-sm-offset-2
      
        table.table
        
          thead
            tr
              th Параметр
              th Заголовок таблицы
              th Заголовок таблицы
              
          tbody
            tr
              td Состав
              td Хлопок - 100%
              td Заголовок таблицы
            tr
              td Состав
              td Хлопок - 100%, полиэстр - 20%, акрил - 50%
              td Заголовок таблицы
      
  .b-tabs__i( data-tab="video" )
    
    .row
      .col-sm-8.col-sm-offset-2
      
        include ../../modules/video-block/include
    
  .b-tabs__i( data-tab="files" )
    
    .row
    
      .col-sm-3
        include ../../modules/file-block/include
            
      .col-sm-3
        include ../../modules/file-block/include2
            
      .col-sm-3
        include ../../modules/file-block/include
            
      .col-sm-3
        include ../../modules/file-block/include
          
    hr.i-size-L
    
    .row
    
      .col-sm-3
        include ../../modules/file-block/include
            
      .col-sm-3
        include ../../modules/file-block/include
            
      .col-sm-3
        include ../../modules/file-block/include
            
      .col-sm-3
        include ../../modules/file-block/include