@import '../../styl/component-include.styl'

.b-tabs
  font-size 1rem
  
  &__nav
    margin 0
    border-bottom 1px solid #eee
    position relative
    height auto
    line-height normal
    background-color transparent
    box-shadow none
    
    &__menu
      display flex
      justify-content left
      
      @media( max-width: 767px)
        border-bottom none
        display block
    
  &__decor
    position absolute
    bottom -2px
    left 0
    height 3px
    width 180px
    background-color #2f3154
    transition( all 0.3s ease )
    
    @media( max-width: 767px)
      display none
    
  &__tab
    display inline-block
    vertical-align middle
    padding 11px 16px
    margin-right -4px
    text-align center
    
    @media( max-width: 767px)
      display block
      width auto !important
      text-align center
      padding 5px 15px
    
    &.i-active
      font-weight 700
      color initial
      
      &:hover
        color initial
    
    a&:hover
      text-decoration none
      
  &__i
    opacity(0)
    transition( opacity 1s ease )
    display none
    
    &.i-active
      opacity(1)
      display block
      
  .table>tbody>tr>td,
  .table>tbody>tr>th
    border-top none
    
  .b-new-comment
    display none
    
.b-tabs__i[data-tab="comments"] input[type="email"]
  padding-left 12px
  background-image none

@media (max-width: 767px)

  .b-tabs__nav
    margin 0 -15px 20px
    width auto
    min-height 50px
    border-bottom none

  .b-tabs__nav__top
    cursor pointer
    display block
    font-weight bold

  .b-tabs__nav__menu
    display none

  .b-tabs__nav__top,
  .b-tabs__nav__menu
    background-color #f9f9f9
    padding 14px 20px
    position relative

  .b-tabs__nav__top i,
  .b-tabs__nav__menu i
    display block
    width 19px
    height 19px
    position absolute
    top 16px
    right 20px
    cursor pointer

  .b-tabs__nav__menu i
    transform rotate(180deg)
    -webkit-transform rotate(180deg)
	
@media (min-width: 768px)
	.b-tabs__nav__top,
	.b-tabs__nav__menu i
		display none !important
	
	.b-tabs__nav__menu
		display flex !important