
<!-- start /components/personal.menu/-->
<link rel="stylesheet" href="/components/personal.menu/style.css"/>
<div class="b-personal-slide-menu">
  <div class="b-personal-slide-menu__top"><span>Мои заказы</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 181.42 181.42">
      <defs>
        <style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style>
      </defs>
      <line x1="4" y1="27.33" x2="176.64" y2="27.33" class="cls-1"></line>
      <line x1="4" y1="151.01" x2="176.64" y2="151.01" class="cls-1"></line>
      <line x1="4" y1="89.17" x2="176.64" y2="89.17" class="cls-1"></line>
    </svg>
  </div>
  <div class="b-personal-slide-menu__menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 181.42 181.42">
      <defs>
        <style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style>
      </defs>
      <polyline points="4 47.17 92.92 131.17 176.64 47.45" class="cls-1"></polyline>
    </svg>
    <ul class="personal">
      <li><a href="/personal/index.php?SECTION=private">Личные данные</a></li>
      <li><a href="/personal/index.php?SECTION=account">Личный счет</a></li>
      <li><a href="/about/contacts/">Контакты</a></li>
      <li><a href="/personal/cart/">Корзина</a></li>
      <li><span><a href="/personal/index.php?SECTION=orders">Мои заказы</a></span></li>
      <li><a href="/personal/index.php?SECTION=orders&amp;filter_history=Y">История заказов</a></li>
      <li><a href="/personal/index.php?SECTION=profile">Профили заказов</a></li>
    </ul>
  </div>
</div>
<!-- end /components/personal.menu/-->